<style>
                #psException{font-family: Verdana; font-size: 14px}
                #psException h2{color: #F20000}
                #psException p{padding-left: 20px}
                #psException ul li{margin-bottom: 10px}
                #psException a{font-size: 12px; color: #000000}
                #psException .psTrace, #psException .psArgs{display: none}
                #psException pre{border: 1px solid #236B04; background-color: #EAFEE1; padding: 5px; font-family: Courier; width: 99%; overflow-x: auto; margin-bottom: 30px;}
                #psException .psArgs pre{background-color: #F1FDFE;}
                #psException pre .selected{color: #F20000; font-weight: bold;}
            </style><div id="psException"><h2>[PrestaShopDatabaseException]</h2><p><b>You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near &#039;&#039; at line 3&lt;br /&gt;&lt;br /&gt;&lt;pre&gt;
			SELECT `id_product` 
			FROM `ps_cart_product`
			WHERE `id_cart` = &lt;/pre&gt;</b><br /><i>at line </i><b>769</b><i> in file </i><b>classes/db/Db.php</b></p><div class="psTrace" id="psTrace_" style="display: block"><pre>764.         if ($webservice_call &amp;&amp; $errno) {
765.             $dbg = debug_backtrace();
766.             WebserviceRequest::getInstance()-&gt;setError(500, '[SQL Error] ' . $this-&gt;getMsgError() . '. From ' . (isset($dbg[3]['class']) ? $dbg[3]['class'] : '') . '-&gt;' . $dbg[3]['function'] . '() Query was : ' . $sql, 97);
767.         } elseif (_PS_DEBUG_SQL_ &amp;&amp; $errno &amp;&amp; !defined('PS_INSTALLATION_IN_PROGRESS')) {
768.             if ($sql) {
<span class="selected">769.                 throw new PrestaShopDatabaseException($this-&gt;getMsgError() . '&lt;br /&gt;&lt;br /&gt;&lt;pre&gt;' . $sql . '&lt;/pre&gt;');
</span>770.             }
771. 
772.             throw new PrestaShopDatabaseException($this-&gt;getMsgError());
773.         }
774.     }
</pre></div><ul><li><b>DbCore->displayError</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_0').style.display = (document.getElementById('psTrace_0').style.display != 'block') ? 'block' : 'none'; return false">[line 385 - classes/db/Db.php]</a> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psArgs_0').style.display = (document.getElementById('psArgs_0').style.display != 'block') ? 'block' : 'none'; return false">[1 Arguments]</a><div class="psTrace" id="psTrace_0" ><pre>380.                 $this-&gt;result = $this-&gt;_query($sql);
381.             }
382.         }
383. 
384.         if (_PS_DEBUG_SQL_) {
<span class="selected">385.             $this-&gt;displayError($sql);
</span>386.         }
387. 
388.         return $this-&gt;result;
389.     }
390. 
</pre></div><div class="psArgs" id="psArgs_0"><pre><b>Argument [0]</b>

			SELECT `id_product` 
			FROM `ps_cart_product`
			WHERE `id_cart` = 
</pre></li><li><b>DbCore->query</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_1').style.display = (document.getElementById('psTrace_1').style.display != 'block') ? 'block' : 'none'; return false">[line 613 - classes/db/Db.php]</a> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psArgs_1').style.display = (document.getElementById('psArgs_1').style.display != 'block') ? 'block' : 'none'; return false">[1 Arguments]</a><div class="psTrace" id="psTrace_1" ><pre>608.             }
609. 
610.             return $this-&gt;execute($sql, $use_cache);
611.         }
612. 
<span class="selected">613.         $this-&gt;result = $this-&gt;query($sql);
</span>614. 
615.         if (!$this-&gt;result) {
616.             $result = false;
617.         } else {
618.             if (!$array) {
</pre></div><div class="psArgs" id="psArgs_1"><pre><b>Argument [0]</b>

			SELECT `id_product` 
			FROM `ps_cart_product`
			WHERE `id_cart` = 
</pre></li><li><b>DbCore->executeS</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_2').style.display = (document.getElementById('psTrace_2').style.display != 'block') ? 'block' : 'none'; return false">[line 202 - override/classes/Cart.php]</a> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psArgs_2').style.display = (document.getElementById('psArgs_2').style.display != 'block') ? 'block' : 'none'; return false">[1 Arguments]</a><div class="psTrace" id="psTrace_2" ><pre>197. 	{
198. 		$res = Db::getInstance()-&gt;executeS(
199. 			'
200. 			SELECT `id_product` 
201. 			FROM `' . _DB_PREFIX_ . 'cart_product`
<span class="selected">202. 			WHERE `id_cart` = ' . $id_cart
</span>203. 		);		
204.         if (!$res) {
205.             return [];
206.         }
207. 		
</pre></div><div class="psArgs" id="psArgs_2"><pre><b>Argument [0]</b>

			SELECT `id_product` 
			FROM `ps_cart_product`
			WHERE `id_cart` = 
</pre></li><li><b>Cart::getCartProductIDs</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_3').style.display = (document.getElementById('psTrace_3').style.display != 'block') ? 'block' : 'none'; return false">[line 110 - override/classes/Context.php]</a> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psArgs_3').style.display = (document.getElementById('psArgs_3').style.display != 'block') ? 'block' : 'none'; return false">[1 Arguments]</a><div class="psTrace" id="psTrace_3" ><pre>105.             $deliveryOption = [$this-&gt;cart-&gt;id_address_delivery =&gt; $idCarrier . ','];
106.             $this-&gt;cart-&gt;setDeliveryOption($deliveryOption);
107.         }
108. 
109.         $this-&gt;ordered_products			= Order::getAllOrderedProducts($customer-&gt;id);
<span class="selected">110.         $this-&gt;cart_products			= Cart::getCartProductIDs($this-&gt;cart-&gt;id);
</span>111. 
112.         $this-&gt;cart-&gt;save();
113.         $this-&gt;cookie-&gt;id_cart = (int) $this-&gt;cart-&gt;id;
114.         $this-&gt;cart-&gt;autosetProductAddress();
115. 
</pre></div><div class="psArgs" id="psArgs_3"><pre><b>Argument [0]</b>

</pre></li><li><b>Context->updateCustomer</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_4').style.display = (document.getElementById('psTrace_4').style.display != 'block') ? 'block' : 'none'; return false">[line 198 - classes/form/CustomerPersister.php]</a> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psArgs_4').style.display = (document.getElementById('psArgs_4').style.display != 'block') ? 'block' : 'none'; return false">[1 Arguments]</a><div class="psTrace" id="psTrace_4" ><pre>193.         }
194. 
195.         $ok = $customer-&gt;save();
196. 
197.         if ($ok) {
<span class="selected">198.             $this-&gt;context-&gt;updateCustomer($customer);
</span>199.             $this-&gt;context-&gt;cart-&gt;update();
200.             $this-&gt;sendConfirmationMail($customer);
201.             Hook::exec('actionCustomerAccountAdd', [
202.                 'newCustomer' =&gt; $customer,
203.             ]);
</pre></div><div class="psArgs" id="psArgs_4"><pre><b>Argument [0]</b>
Customer Object
(
    [id] =&gt; 71322
    [id_shop] =&gt; 1
    [id_shop_group] =&gt; 1
    [secure_key] =&gt; 7bba20597875fc41d1c5ec490609d094
    [note] =&gt; 
    [id_gender] =&gt; 1
    [id_default_group] =&gt; 3
    [id_lang] =&gt; 1
    [lastname] =&gt; Santacana
    [firstname] =&gt; Thierry
    [birthday] =&gt; 
    [email] =&gt; thierry@la-ligne-web.com
    [newsletter] =&gt; 
    [ip_registration_newsletter] =&gt; 
    [newsletter_date_add] =&gt; 
    [optin] =&gt; 
    [website] =&gt; 
    [company] =&gt; 
    [siret] =&gt; 
    [ape] =&gt; 
    [outstanding_allow_amount] =&gt; 0
    [show_public_prices] =&gt; 0
    [id_risk] =&gt; 
    [max_payment_days] =&gt; 0
    [passwd] =&gt; $2y$10$1Jr7qSASmAvnTy8ZlyOz9OXnVcr2WfwbYHPSNdpO0bP2NTT5Ll62.
    [last_passwd_gen] =&gt; 2021-01-13 05:48:24
    [active] =&gt; 1
    [is_guest] =&gt; 0
    [deleted] =&gt; 0
    [date_add] =&gt; 2021-01-13 11:48:24
    [date_upd] =&gt; 2021-01-13 11:48:24
    [years] =&gt; 
    [days] =&gt; 
    [months] =&gt; 
    [geoloc_id_country] =&gt; 
    [geoloc_id_state] =&gt; 
    [geoloc_postcode] =&gt; 
    [logged] =&gt; 1
    [id_guest] =&gt; 
    [groupBox] =&gt; 
    [reset_password_token] =&gt; 
    [reset_password_validity] =&gt; 
    [webserviceParameters:protected] =&gt; Array
        (
            [fields] =&gt; Array
                (
                    [id_default_group] =&gt; Array
                        (
                            [xlink_resource] =&gt; groups
                        )

                    [id_lang] =&gt; Array
                        (
                            [xlink_resource] =&gt; languages
                        )

                    [newsletter_date_add] =&gt; Array
                        (
                        )

                    [ip_registration_newsletter] =&gt; Array
                        (
                        )

                    [last_passwd_gen] =&gt; Array
                        (
                            [setter] =&gt; 
                        )

                    [secure_key] =&gt; Array
                        (
                            [setter] =&gt; 
                        )

                    [deleted] =&gt; Array
                        (
                        )

                    [passwd] =&gt; Array
                        (
                            [setter] =&gt; setWsPasswd
                        )

                )

            [associations] =&gt; Array
                (
                    [groups] =&gt; Array
                        (
                            [resource] =&gt; group
                        )

                )

        )

    [id_shop_list] =&gt; Array
        (
        )

    [get_shop_from_context:protected] =&gt; 1
    [table:protected] =&gt; customer
    [identifier:protected] =&gt; id_customer
    [fieldsRequired:protected] =&gt; Array
        (
            [0] =&gt; lastname
            [1] =&gt; firstname
            [2] =&gt; email
            [3] =&gt; passwd
        )

    [fieldsSize:protected] =&gt; Array
        (
            [lastname] =&gt; 255
            [firstname] =&gt; 255
            [email] =&gt; 255
            [passwd] =&gt; 255
            [note] =&gt; 65000
            [reset_password_token] =&gt; 40
        )

    [fieldsValidate:protected] =&gt; Array
        (
            [secure_key] =&gt; isMd5
            [lastname] =&gt; isCustomerName
            [firstname] =&gt; isCustomerName
            [email] =&gt; isEmail
            [passwd] =&gt; isPasswd
            [id_gender] =&gt; isUnsignedId
            [birthday] =&gt; isBirthDate
            [newsletter] =&gt; isBool
            [optin] =&gt; isBool
            [website] =&gt; isUrl
            [company] =&gt; isGenericName
            [siret] =&gt; isGenericName
            [ape] =&gt; isApe
            [outstanding_allow_amount] =&gt; isFloat
            [show_public_prices] =&gt; isBool
            [id_risk] =&gt; isUnsignedInt
            [max_payment_days] =&gt; isUnsignedInt
            [active] =&gt; isBool
            [deleted] =&gt; isBool
            [note] =&gt; isCleanHtml
            [is_guest] =&gt; isBool
            [id_shop] =&gt; isUnsignedId
            [id_shop_group] =&gt; isUnsignedId
            [id_lang] =&gt; isUnsignedId
            [date_add] =&gt; isDate
            [date_upd] =&gt; isDate
            [reset_password_token] =&gt; isSha1
            [reset_password_validity] =&gt; isDateOrNull
        )

    [fieldsRequiredLang:protected] =&gt; Array
        (
        )

    [fieldsSizeLang:protected] =&gt; Array
        (
        )

    [fieldsValidateLang:protected] =&gt; Array
        (
        )

    [tables:protected] =&gt; Array
        (
        )

    [image_dir:protected] =&gt; 
    [image_format:protected] =&gt; jpg
    [translator:protected] =&gt; 
    [def:protected] =&gt; Array
        (
            [table] =&gt; customer
            [primary] =&gt; id_customer
            [fields] =&gt; Array
                (
                    [secure_key] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isMd5
                            [copy_post] =&gt; 
                        )

                    [lastname] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isCustomerName
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [firstname] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isCustomerName
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [email] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isEmail
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [passwd] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isPasswd
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [last_passwd_gen] =&gt; Array
                        (
                            [type] =&gt; 3
                            [copy_post] =&gt; 
                        )

                    [id_gender] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                        )

                    [birthday] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isBirthDate
                        )

                    [newsletter] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                        )

                    [newsletter_date_add] =&gt; Array
                        (
                            [type] =&gt; 5
                            [copy_post] =&gt; 
                        )

                    [ip_registration_newsletter] =&gt; Array
                        (
                            [type] =&gt; 3
                            [copy_post] =&gt; 
                        )

                    [optin] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                        )

                    [website] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isUrl
                        )

                    [company] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isGenericName
                        )

                    [siret] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isGenericName
                        )

                    [ape] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isApe
                        )

                    [outstanding_allow_amount] =&gt; Array
                        (
                            [type] =&gt; 4
                            [validate] =&gt; isFloat
                            [copy_post] =&gt; 
                        )

                    [show_public_prices] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [id_risk] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedInt
                            [copy_post] =&gt; 
                        )

                    [max_payment_days] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedInt
                            [copy_post] =&gt; 
                        )

                    [active] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [deleted] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [note] =&gt; Array
                        (
                            [type] =&gt; 6
                            [validate] =&gt; isCleanHtml
                            [size] =&gt; 65000
                            [copy_post] =&gt; 
                        )

                    [is_guest] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [id_shop] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                            [copy_post] =&gt; 
                        )

                    [id_shop_group] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                            [copy_post] =&gt; 
                        )

                    [id_default_group] =&gt; Array
                        (
                            [type] =&gt; 1
                            [copy_post] =&gt; 
                        )

                    [id_lang] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                            [copy_post] =&gt; 
                        )

                    [date_add] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isDate
                            [copy_post] =&gt; 
                        )

                    [date_upd] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isDate
                            [copy_post] =&gt; 
                        )

                    [reset_password_token] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isSha1
                            [size] =&gt; 40
                            [copy_post] =&gt; 
                        )

                    [reset_password_validity] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isDateOrNull
                            [copy_post] =&gt; 
                        )

                )

            [classname] =&gt; Customer
        )

    [update_fields:protected] =&gt; 
    [force_id] =&gt; 
)

</pre></li><li><b>CustomerPersisterCore->create</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_5').style.display = (document.getElementById('psTrace_5').style.display != 'block') ? 'block' : 'none'; return false">[line 60 - classes/form/CustomerPersister.php]</a> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psArgs_5').style.display = (document.getElementById('psArgs_5').style.display != 'block') ? 'block' : 'none'; return false">[2 Arguments]</a><div class="psTrace" id="psTrace_5" ><pre>55.     {
56.         if ($customer-&gt;id) {
57.             return $this-&gt;update($customer, $clearTextPassword, $newPassword, $passwordRequired);
58.         }
59. 
<span class="selected">60.         return $this-&gt;create($customer, $clearTextPassword);
</span>61.     }
62. 
63.     private function update(Customer $customer, $clearTextPassword, $newPassword, $passwordRequired = true)
64.     {
65.         if (!$customer-&gt;is_guest &amp;&amp; $passwordRequired &amp;&amp; !$this-&gt;crypto-&gt;checkHash(
</pre></div><div class="psArgs" id="psArgs_5"><pre><b>Argument [0]</b>
Customer Object
(
    [id] =&gt; 71322
    [id_shop] =&gt; 1
    [id_shop_group] =&gt; 1
    [secure_key] =&gt; 7bba20597875fc41d1c5ec490609d094
    [note] =&gt; 
    [id_gender] =&gt; 1
    [id_default_group] =&gt; 3
    [id_lang] =&gt; 1
    [lastname] =&gt; Santacana
    [firstname] =&gt; Thierry
    [birthday] =&gt; 
    [email] =&gt; thierry@la-ligne-web.com
    [newsletter] =&gt; 
    [ip_registration_newsletter] =&gt; 
    [newsletter_date_add] =&gt; 
    [optin] =&gt; 
    [website] =&gt; 
    [company] =&gt; 
    [siret] =&gt; 
    [ape] =&gt; 
    [outstanding_allow_amount] =&gt; 0
    [show_public_prices] =&gt; 0
    [id_risk] =&gt; 
    [max_payment_days] =&gt; 0
    [passwd] =&gt; $2y$10$1Jr7qSASmAvnTy8ZlyOz9OXnVcr2WfwbYHPSNdpO0bP2NTT5Ll62.
    [last_passwd_gen] =&gt; 2021-01-13 05:48:24
    [active] =&gt; 1
    [is_guest] =&gt; 0
    [deleted] =&gt; 0
    [date_add] =&gt; 2021-01-13 11:48:24
    [date_upd] =&gt; 2021-01-13 11:48:24
    [years] =&gt; 
    [days] =&gt; 
    [months] =&gt; 
    [geoloc_id_country] =&gt; 
    [geoloc_id_state] =&gt; 
    [geoloc_postcode] =&gt; 
    [logged] =&gt; 1
    [id_guest] =&gt; 
    [groupBox] =&gt; 
    [reset_password_token] =&gt; 
    [reset_password_validity] =&gt; 
    [webserviceParameters:protected] =&gt; Array
        (
            [fields] =&gt; Array
                (
                    [id_default_group] =&gt; Array
                        (
                            [xlink_resource] =&gt; groups
                        )

                    [id_lang] =&gt; Array
                        (
                            [xlink_resource] =&gt; languages
                        )

                    [newsletter_date_add] =&gt; Array
                        (
                        )

                    [ip_registration_newsletter] =&gt; Array
                        (
                        )

                    [last_passwd_gen] =&gt; Array
                        (
                            [setter] =&gt; 
                        )

                    [secure_key] =&gt; Array
                        (
                            [setter] =&gt; 
                        )

                    [deleted] =&gt; Array
                        (
                        )

                    [passwd] =&gt; Array
                        (
                            [setter] =&gt; setWsPasswd
                        )

                )

            [associations] =&gt; Array
                (
                    [groups] =&gt; Array
                        (
                            [resource] =&gt; group
                        )

                )

        )

    [id_shop_list] =&gt; Array
        (
        )

    [get_shop_from_context:protected] =&gt; 1
    [table:protected] =&gt; customer
    [identifier:protected] =&gt; id_customer
    [fieldsRequired:protected] =&gt; Array
        (
            [0] =&gt; lastname
            [1] =&gt; firstname
            [2] =&gt; email
            [3] =&gt; passwd
        )

    [fieldsSize:protected] =&gt; Array
        (
            [lastname] =&gt; 255
            [firstname] =&gt; 255
            [email] =&gt; 255
            [passwd] =&gt; 255
            [note] =&gt; 65000
            [reset_password_token] =&gt; 40
        )

    [fieldsValidate:protected] =&gt; Array
        (
            [secure_key] =&gt; isMd5
            [lastname] =&gt; isCustomerName
            [firstname] =&gt; isCustomerName
            [email] =&gt; isEmail
            [passwd] =&gt; isPasswd
            [id_gender] =&gt; isUnsignedId
            [birthday] =&gt; isBirthDate
            [newsletter] =&gt; isBool
            [optin] =&gt; isBool
            [website] =&gt; isUrl
            [company] =&gt; isGenericName
            [siret] =&gt; isGenericName
            [ape] =&gt; isApe
            [outstanding_allow_amount] =&gt; isFloat
            [show_public_prices] =&gt; isBool
            [id_risk] =&gt; isUnsignedInt
            [max_payment_days] =&gt; isUnsignedInt
            [active] =&gt; isBool
            [deleted] =&gt; isBool
            [note] =&gt; isCleanHtml
            [is_guest] =&gt; isBool
            [id_shop] =&gt; isUnsignedId
            [id_shop_group] =&gt; isUnsignedId
            [id_lang] =&gt; isUnsignedId
            [date_add] =&gt; isDate
            [date_upd] =&gt; isDate
            [reset_password_token] =&gt; isSha1
            [reset_password_validity] =&gt; isDateOrNull
        )

    [fieldsRequiredLang:protected] =&gt; Array
        (
        )

    [fieldsSizeLang:protected] =&gt; Array
        (
        )

    [fieldsValidateLang:protected] =&gt; Array
        (
        )

    [tables:protected] =&gt; Array
        (
        )

    [image_dir:protected] =&gt; 
    [image_format:protected] =&gt; jpg
    [translator:protected] =&gt; 
    [def:protected] =&gt; Array
        (
            [table] =&gt; customer
            [primary] =&gt; id_customer
            [fields] =&gt; Array
                (
                    [secure_key] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isMd5
                            [copy_post] =&gt; 
                        )

                    [lastname] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isCustomerName
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [firstname] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isCustomerName
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [email] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isEmail
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [passwd] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isPasswd
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [last_passwd_gen] =&gt; Array
                        (
                            [type] =&gt; 3
                            [copy_post] =&gt; 
                        )

                    [id_gender] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                        )

                    [birthday] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isBirthDate
                        )

                    [newsletter] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                        )

                    [newsletter_date_add] =&gt; Array
                        (
                            [type] =&gt; 5
                            [copy_post] =&gt; 
                        )

                    [ip_registration_newsletter] =&gt; Array
                        (
                            [type] =&gt; 3
                            [copy_post] =&gt; 
                        )

                    [optin] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                        )

                    [website] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isUrl
                        )

                    [company] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isGenericName
                        )

                    [siret] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isGenericName
                        )

                    [ape] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isApe
                        )

                    [outstanding_allow_amount] =&gt; Array
                        (
                            [type] =&gt; 4
                            [validate] =&gt; isFloat
                            [copy_post] =&gt; 
                        )

                    [show_public_prices] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [id_risk] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedInt
                            [copy_post] =&gt; 
                        )

                    [max_payment_days] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedInt
                            [copy_post] =&gt; 
                        )

                    [active] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [deleted] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [note] =&gt; Array
                        (
                            [type] =&gt; 6
                            [validate] =&gt; isCleanHtml
                            [size] =&gt; 65000
                            [copy_post] =&gt; 
                        )

                    [is_guest] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [id_shop] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                            [copy_post] =&gt; 
                        )

                    [id_shop_group] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                            [copy_post] =&gt; 
                        )

                    [id_default_group] =&gt; Array
                        (
                            [type] =&gt; 1
                            [copy_post] =&gt; 
                        )

                    [id_lang] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                            [copy_post] =&gt; 
                        )

                    [date_add] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isDate
                            [copy_post] =&gt; 
                        )

                    [date_upd] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isDate
                            [copy_post] =&gt; 
                        )

                    [reset_password_token] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isSha1
                            [size] =&gt; 40
                            [copy_post] =&gt; 
                        )

                    [reset_password_validity] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isDateOrNull
                            [copy_post] =&gt; 
                        )

                )

            [classname] =&gt; Customer
        )

    [update_fields:protected] =&gt; 
    [force_id] =&gt; 
)

<b>Argument [1]</b>
v12s78-D
</pre></li><li><b>CustomerPersisterCore->save</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_6').style.display = (document.getElementById('psTrace_6').style.display != 'block') ? 'block' : 'none'; return false">[line 207 - classes/form/CustomerForm.php]</a> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psArgs_6').style.display = (document.getElementById('psArgs_6').style.display != 'block') ? 'block' : 'none'; return false">[4 Arguments]</a><div class="psTrace" id="psTrace_6" ><pre>202. 
203.             $ok = $this-&gt;customerPersister-&gt;save(
204.                 $this-&gt;getCustomer(),
205.                 $clearTextPassword,
206.                 $newPassword,
<span class="selected">207.                 $this-&gt;passwordRequired
</span>208.             );
209. 
210.             if (!$ok) {
211.                 foreach ($this-&gt;customerPersister-&gt;getErrors() as $field =&gt; $errors) {
212.                     $this-&gt;formFields[$field]-&gt;setErrors($errors);
</pre></div><div class="psArgs" id="psArgs_6"><pre><b>Argument [0]</b>
Customer Object
(
    [id] =&gt; 71322
    [id_shop] =&gt; 1
    [id_shop_group] =&gt; 1
    [secure_key] =&gt; 7bba20597875fc41d1c5ec490609d094
    [note] =&gt; 
    [id_gender] =&gt; 1
    [id_default_group] =&gt; 3
    [id_lang] =&gt; 1
    [lastname] =&gt; Santacana
    [firstname] =&gt; Thierry
    [birthday] =&gt; 
    [email] =&gt; thierry@la-ligne-web.com
    [newsletter] =&gt; 
    [ip_registration_newsletter] =&gt; 
    [newsletter_date_add] =&gt; 
    [optin] =&gt; 
    [website] =&gt; 
    [company] =&gt; 
    [siret] =&gt; 
    [ape] =&gt; 
    [outstanding_allow_amount] =&gt; 0
    [show_public_prices] =&gt; 0
    [id_risk] =&gt; 
    [max_payment_days] =&gt; 0
    [passwd] =&gt; $2y$10$1Jr7qSASmAvnTy8ZlyOz9OXnVcr2WfwbYHPSNdpO0bP2NTT5Ll62.
    [last_passwd_gen] =&gt; 2021-01-13 05:48:24
    [active] =&gt; 1
    [is_guest] =&gt; 0
    [deleted] =&gt; 0
    [date_add] =&gt; 2021-01-13 11:48:24
    [date_upd] =&gt; 2021-01-13 11:48:24
    [years] =&gt; 
    [days] =&gt; 
    [months] =&gt; 
    [geoloc_id_country] =&gt; 
    [geoloc_id_state] =&gt; 
    [geoloc_postcode] =&gt; 
    [logged] =&gt; 1
    [id_guest] =&gt; 
    [groupBox] =&gt; 
    [reset_password_token] =&gt; 
    [reset_password_validity] =&gt; 
    [webserviceParameters:protected] =&gt; Array
        (
            [fields] =&gt; Array
                (
                    [id_default_group] =&gt; Array
                        (
                            [xlink_resource] =&gt; groups
                        )

                    [id_lang] =&gt; Array
                        (
                            [xlink_resource] =&gt; languages
                        )

                    [newsletter_date_add] =&gt; Array
                        (
                        )

                    [ip_registration_newsletter] =&gt; Array
                        (
                        )

                    [last_passwd_gen] =&gt; Array
                        (
                            [setter] =&gt; 
                        )

                    [secure_key] =&gt; Array
                        (
                            [setter] =&gt; 
                        )

                    [deleted] =&gt; Array
                        (
                        )

                    [passwd] =&gt; Array
                        (
                            [setter] =&gt; setWsPasswd
                        )

                )

            [associations] =&gt; Array
                (
                    [groups] =&gt; Array
                        (
                            [resource] =&gt; group
                        )

                )

        )

    [id_shop_list] =&gt; Array
        (
        )

    [get_shop_from_context:protected] =&gt; 1
    [table:protected] =&gt; customer
    [identifier:protected] =&gt; id_customer
    [fieldsRequired:protected] =&gt; Array
        (
            [0] =&gt; lastname
            [1] =&gt; firstname
            [2] =&gt; email
            [3] =&gt; passwd
        )

    [fieldsSize:protected] =&gt; Array
        (
            [lastname] =&gt; 255
            [firstname] =&gt; 255
            [email] =&gt; 255
            [passwd] =&gt; 255
            [note] =&gt; 65000
            [reset_password_token] =&gt; 40
        )

    [fieldsValidate:protected] =&gt; Array
        (
            [secure_key] =&gt; isMd5
            [lastname] =&gt; isCustomerName
            [firstname] =&gt; isCustomerName
            [email] =&gt; isEmail
            [passwd] =&gt; isPasswd
            [id_gender] =&gt; isUnsignedId
            [birthday] =&gt; isBirthDate
            [newsletter] =&gt; isBool
            [optin] =&gt; isBool
            [website] =&gt; isUrl
            [company] =&gt; isGenericName
            [siret] =&gt; isGenericName
            [ape] =&gt; isApe
            [outstanding_allow_amount] =&gt; isFloat
            [show_public_prices] =&gt; isBool
            [id_risk] =&gt; isUnsignedInt
            [max_payment_days] =&gt; isUnsignedInt
            [active] =&gt; isBool
            [deleted] =&gt; isBool
            [note] =&gt; isCleanHtml
            [is_guest] =&gt; isBool
            [id_shop] =&gt; isUnsignedId
            [id_shop_group] =&gt; isUnsignedId
            [id_lang] =&gt; isUnsignedId
            [date_add] =&gt; isDate
            [date_upd] =&gt; isDate
            [reset_password_token] =&gt; isSha1
            [reset_password_validity] =&gt; isDateOrNull
        )

    [fieldsRequiredLang:protected] =&gt; Array
        (
        )

    [fieldsSizeLang:protected] =&gt; Array
        (
        )

    [fieldsValidateLang:protected] =&gt; Array
        (
        )

    [tables:protected] =&gt; Array
        (
        )

    [image_dir:protected] =&gt; 
    [image_format:protected] =&gt; jpg
    [translator:protected] =&gt; 
    [def:protected] =&gt; Array
        (
            [table] =&gt; customer
            [primary] =&gt; id_customer
            [fields] =&gt; Array
                (
                    [secure_key] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isMd5
                            [copy_post] =&gt; 
                        )

                    [lastname] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isCustomerName
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [firstname] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isCustomerName
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [email] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isEmail
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [passwd] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isPasswd
                            [required] =&gt; 1
                            [size] =&gt; 255
                        )

                    [last_passwd_gen] =&gt; Array
                        (
                            [type] =&gt; 3
                            [copy_post] =&gt; 
                        )

                    [id_gender] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                        )

                    [birthday] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isBirthDate
                        )

                    [newsletter] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                        )

                    [newsletter_date_add] =&gt; Array
                        (
                            [type] =&gt; 5
                            [copy_post] =&gt; 
                        )

                    [ip_registration_newsletter] =&gt; Array
                        (
                            [type] =&gt; 3
                            [copy_post] =&gt; 
                        )

                    [optin] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                        )

                    [website] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isUrl
                        )

                    [company] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isGenericName
                        )

                    [siret] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isGenericName
                        )

                    [ape] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isApe
                        )

                    [outstanding_allow_amount] =&gt; Array
                        (
                            [type] =&gt; 4
                            [validate] =&gt; isFloat
                            [copy_post] =&gt; 
                        )

                    [show_public_prices] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [id_risk] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedInt
                            [copy_post] =&gt; 
                        )

                    [max_payment_days] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedInt
                            [copy_post] =&gt; 
                        )

                    [active] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [deleted] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [note] =&gt; Array
                        (
                            [type] =&gt; 6
                            [validate] =&gt; isCleanHtml
                            [size] =&gt; 65000
                            [copy_post] =&gt; 
                        )

                    [is_guest] =&gt; Array
                        (
                            [type] =&gt; 2
                            [validate] =&gt; isBool
                            [copy_post] =&gt; 
                        )

                    [id_shop] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                            [copy_post] =&gt; 
                        )

                    [id_shop_group] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                            [copy_post] =&gt; 
                        )

                    [id_default_group] =&gt; Array
                        (
                            [type] =&gt; 1
                            [copy_post] =&gt; 
                        )

                    [id_lang] =&gt; Array
                        (
                            [type] =&gt; 1
                            [validate] =&gt; isUnsignedId
                            [copy_post] =&gt; 
                        )

                    [date_add] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isDate
                            [copy_post] =&gt; 
                        )

                    [date_upd] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isDate
                            [copy_post] =&gt; 
                        )

                    [reset_password_token] =&gt; Array
                        (
                            [type] =&gt; 3
                            [validate] =&gt; isSha1
                            [size] =&gt; 40
                            [copy_post] =&gt; 
                        )

                    [reset_password_validity] =&gt; Array
                        (
                            [type] =&gt; 5
                            [validate] =&gt; isDateOrNull
                            [copy_post] =&gt; 
                        )

                )

            [classname] =&gt; Customer
        )

    [update_fields:protected] =&gt; 
    [force_id] =&gt; 
)

<b>Argument [1]</b>
v12s78-D
<b>Argument [2]</b>

<b>Argument [3]</b>
1
</pre></li><li><b>CustomerFormCore->submit</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_7').style.display = (document.getElementById('psTrace_7').style.display != 'block') ? 'block' : 'none'; return false">[line 53 - override/controllers/front/AuthController.php]</a><div class="psTrace" id="psTrace_7" ><pre>48.                     function ($carry, $item) {
49.                         return $carry &amp;&amp; $item;
50.                     },
51.                     true
52.                 );
<span class="selected">53.                 if ($hookResult &amp;&amp; $register_form-&gt;submit()) {
</span>54.                     $should_redirect = true;
55.                 }
56.             }
57. 
58. 			if(Tools::getValue('ajaxMode')) {
</pre></div></li><li><b>AuthController->initContent</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_8').style.display = (document.getElementById('psTrace_8').style.display != 'block') ? 'block' : 'none'; return false">[line 306 - classes/controller/Controller.php]</a><div class="psTrace" id="psTrace_8" ><pre>301.             if (!$this-&gt;content_only &amp;&amp; ($this-&gt;display_header || (isset($this-&gt;className) &amp;&amp; $this-&gt;className))) {
302.                 $this-&gt;initHeader();
303.             }
304. 
305.             if ($this-&gt;viewAccess()) {
<span class="selected">306.                 $this-&gt;initContent();
</span>307.             } else {
308.                 $this-&gt;errors[] = $this-&gt;trans('Access denied.', [], 'Admin.Notifications.Error');
309.             }
310. 
311.             if (!$this-&gt;content_only &amp;&amp; ($this-&gt;display_footer || (isset($this-&gt;className) &amp;&amp; $this-&gt;className))) {
</pre></div></li><li><b>ControllerCore->run</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_9').style.display = (document.getElementById('psTrace_9').style.display != 'block') ? 'block' : 'none'; return false">[line 518 - classes/Dispatcher.php]</a><div class="psTrace" id="psTrace_9" ><pre>513.             if (isset($params_hook_action_dispatcher)) {
514.                 Hook::exec('actionDispatcher', $params_hook_action_dispatcher);
515.             }
516. 
517.             // Running controller
<span class="selected">518.             $controller-&gt;run();
</span>519. 
520.             // Execute hook dispatcher after
521.             if (isset($params_hook_action_dispatcher)) {
522.                 Hook::exec('actionDispatcherAfter', $params_hook_action_dispatcher);
523.             }
</pre></div></li><li><b>DispatcherCore->dispatch</b> - <a style="font-size: 12px; color: #000000; cursor:pointer; color: blue;" onclick="document.getElementById('psTrace_10').style.display = (document.getElementById('psTrace_10').style.display != 'block') ? 'block' : 'none'; return false">[line 28 - index.php]</a><div class="psTrace" id="psTrace_10" ><pre>23.  * @copyright Since 2007 PrestaShop SA and Contributors
24.  * @license   https://opensource.org/licenses/OSL-3.0 Open Software License (OSL 3.0)
25.  */
26. 
27. require dirname(__FILE__).'/config/config.inc.php';
<span class="selected">28. Dispatcher::getInstance()-&gt;dispatch();
</span></pre></div></li></ul></div>