@import "lib/editor.less";
@import "../lib/bootstrap3/less/component-animations.less";
// Here comes panels
@vc_modal_top_margin: 34px;
// Elements icons
@import "lib/elements_icons.less";
// Add element box
@import "popups/modal_add_element.less";

// Navigation bar
@vc_navbar_sprite_left_position: -60px;
@vc_navbar_background_color: #FCFCFC;
@vc_navbar_icon_btn_color: #F5F5F5;
@vc_navbar_border_color: #F5F5F5;
@vc_navbar_spinner: '../vc/backend_ajax_spinner.gif';
@import "modules/vc_license_activation_notice.less";
@import "modules/vc_navbar.less";
// Message box shown when post content is empty
@vc_welcome_margin: 14px;
@import "modules/vc_welcome.less";

// Backend switcher
@import "modules/vc_switcher.less";
// Edit form for shortcode
@import "popups/panel_edit_form.less";

// Templates editor
@import "popups/panel_templates.less";
// Post settings
@import "popups/panel_post_settings.less";
// Edit row layout
@import "popups/panel_edit_layout.less";
// Teaser box for posts wused by Post grid and post carusel
@import "modules/vc_teaser_box.less";
#vc_settings-title-container {
    display: none;
}
// Backend controls
@import "lib/controls.less";
@import "lib/backend_controls.less";
// Shortcodes
@import "backend_shortcodes/rows_columns.less";
@import "backend_shortcodes/empty_containers.less";
@import "shortcodes/_shortcodes_container.less";
@import "backend_shortcodes/content_block.less";
@import "backend_shortcodes/vc_accordion.less";
@import "backend_shortcodes/vc_button.less";
@import "backend_shortcodes/vc_column_text.less";
@import "backend_shortcodes/vc_cta_button.less";
@import "backend_shortcodes/vc_empty_space.less";
@import "backend_shortcodes/vc_facebook.less";
@import "backend_shortcodes/vc_flickr.less";
@import "backend_shortcodes/vc_gallery.less";
@import "backend_shortcodes/vc_gmaps.less";
@import "backend_shortcodes/vc_googleplus.less";
@import "backend_shortcodes/vc_images_carousel.less";
@import "backend_shortcodes/vc_message.less";
@import "backend_shortcodes/vc_pie.less";
@import "backend_shortcodes/vc_pinterest.less";
@import "backend_shortcodes/vc_posts_slider.less";
@import "backend_shortcodes/vc_progress_bar.less";
@import "backend_shortcodes/vc_raw_html.less";
@import "backend_shortcodes/vc_raw_js.less";
@import "backend_shortcodes/vc_separator.less";
@import "backend_shortcodes/vc_single_image.less";
@import "backend_shortcodes/vc_tabs.less";
@import "backend_shortcodes/vc_tab.less";
@import "backend_shortcodes/vc_accordion_tab.less";
@import "backend_shortcodes/vc_teaser_grid.less";
@import "backend_shortcodes/vc_toggle.less";
@import "backend_shortcodes/vc_tour.less";
@import "backend_shortcodes/vc_tweetmeme.less";
@import "backend_shortcodes/vc_twitter.less";
@import "backend_shortcodes/vc_video.less";
@import "backend_shortcodes/vc_widget_sidebar.less";
@import "backend_shortcodes/vc_wp_widget.less";

.vc_admin_label {
    font-size: 11px;
    font-style: italic;
    color: #999999;
    margin-right: 5px;
    line-height: 1;
    label {
        vertical-align: inherit;
    }
}

// Vendors
@import "vendor/contact_form_7.less";
@import "vendor/gravity_form.less";
@import "vendor/layerslider.less";
@import "vendor/rev_slider.less";

#wpb_visual_composer {
    display: none;
    > .inside {
        margin: 0;
        padding: 0;
    }
    .vc_modal-title, .vc_panel-title {
        border: 0;
        padding: 0;
        margin: 0;
    }
    .vc_navbar {
        border-bottom: 1px solid @vc_navbar_border_color;
    }
}
.vc_hidden-xs {
    @media (max-width: @screen-xs-max) {
        .vc_backend-editor-invisibility-settings;
    }
}
.vc_hidden-sm {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        .vc_backend-editor-invisibility-settings;
    }
}
.vc_hidden-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        .vc_backend-editor-invisibility-settings;
    }
}
.vc_hidden-lg {
    @media (min-width: @screen-lg-min) {
        .vc_backend-editor-invisibility-settings;
    }
}
#visual_composer_content {
    padding: 14px;
}
// WP fixes for files.
#poststuff {
    h3.vc_modal-title {
        .vc_heading(16px);
    }
    .vc_welcome h3 {
        margin: 0;
        padding: 0;
        font-size: 24px;
        line-height: 26px;
        cursor: default;
    }
}

@import "lib/backend_draganddrop.less";

.vc_panel-heading {
  .vc_transparent {
    display: none;
  }
}

.vc_loading-shortcodes {
  #vc_no-content-helper {
    display: none;
  }
}
#wpb_csseditor { border: 1px solid #BABABA; }