{extends file='customer/_partials/address-form.tpl'}

{block name='form_field'}
  {if $field.name eq "alias"}
    {* we don't ask for alias here *}
  {else}
    {$smarty.block.parent}
  {/if}
{/block}

{block name="address_form_url"}
    <form
      method="POST"
      action="{url entity='order' params=['id_address' => $id_address]}"
      data-id-address="{$id_address}"
      data-refresh-url="{url entity='order' params=['ajax' => 1, 'action' => 'addressForm']}"
    >
{/block}

{block name='form_fields' append}
  <input type="hidden" name="saveAddress" value="{$type}">
  {if $type === "delivery"}

  	{if $delivery_mode == 2}
    	<input name="use_same_address" id="use_same_address" type="hidden" value="1">
  	{else}
    <div class="form-group row">
      <div class="col-md-9 col-md-offset-3">
	      <span class="custom-checkbox">
	        <label>
	          <input name="use_same_address" id="use_same_address" type="checkbox" value="1" {if $use_same_address}checked="checked"{/if}>
	          <span><i class="material-icons rtl-no-flip checkbox-checked">&#xE5CA;</i></span>
	          {l s='Use this address for invoice too' d='Shop.Theme.Checkout'}
	        </label>
	      </span>
      </div>
    </div>
  	{/if}
  {/if}
{/block}

{block name='form_buttons'}
  {if $form_has_no_continue_button}
    <button type="submit" class="btn btn-primary float-xs-right">{l s='Save' d='Shop.Theme.Actions'}</button>
    <a class="js-cancel-address cancel-address float-xs-right" href="{url entity='order' params=['cancelAddress' => {$type}]}">{l s='Cancel' d='Shop.Theme.Actions'}</a>
  {else}
    <form>
      <button type="submit" class="continue btn btn-primary float-xs-right" name="confirm-addresses" value="1">
          {l s='Continue' d='Shop.Theme.Actions'}
      </button>
      {if $customer.addresses|count > 0}
        <a class="js-cancel-address cancel-address float-xs-right" href="{url entity='order' params=['cancelAddress' => {$type}]}">{l s='Cancel' d='Shop.Theme.Actions'}</a>
      {/if}
    </form>
  {/if}
{/block}
