/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

@media (min-width: 1240px) {

}

@media (max-width: 1239px) {
}

@media (min-width: 1100px) and (max-width: 1199px) {
	.product-line-grid-right .bootstrap-touchspin input.form-control {
	    width: 4rem;
	}
	.btn-primary, .btn-secondary, .btn-tertiary {
	    padding: 0.5rem 1.25rem;
	}
	body#checkout .summary-complements label,
	body#checkout #order-summary-content .complement label.value {
	    font-size: 14px;
	}
	.page-my-account #content .links a, 
	.page-my-account #content .links a:hover {
		font-size: 22px;
	}

}
@media (min-width: 1024px) and (max-width: 1099px) {
	#header .logo {
	    margin-bottom: 12px;
	    margin-top: 12px;
	}
	#header .header-top {
	    width: 100vw;
	}
	#header #_desktop_logo, #header #_desktop_contact, #header #_desktop_shop_selector {
	    margin-top: 5px;
	}
	#block-reassurance .block-reassurance-item h3 {
	    font-size: 13px;
	}
	#category-navigation .category-item, #category-navigation .category-item-order {
	    height: 134px;
	    width: auto;
	}
	#category-navigation {
	    padding: 3rem 0px;
	}
	#category-navigation .category-item-order .text h3 {
	    font-size: 20px;
	}
	#category-navigation .not-registered .category-item-order .text h3 {
		font-size: 18px;
	}
	#category-navigation .category-item-order img {
	    margin: 0 2rem 0 1rem;
	}
	#category-navigation .category-item-order {
	    height: 134px;
	    padding: 1rem;
	}
	.featured-products .mainTitle {
		width: 100%;
	}	
	.links.displayFooterContact p.h3, .links.displayFooterFranchise p.h3 {
	    font-size: 19px;
	}
	.block-social h3 {
		font-size: 16px;
	}
	.product_title h1 {
	    font-size: 34px;
	}
	.product-variants h2 {
	    font-size: 18px;
	}
	.images-container .product-images > li.thumb-container > .thumb {
		max-width: 100%;
	}
	.product-images > li.thumb-container {
    	margin-right: 1rem;
	}
	.product-images > li.thumb-container:last-child {
    	margin-right: 0rem;
	}
	.product-variants > .product-variants-item ul li.half-line {
	    width: 100%;
	}
	.product-accessories p.h5 {
	    font-size: 36px;
	}
	#blockcart-modal .cart-content .cart-content-btn .btn {
	    font-size: 15px;
	}
	#blockcart-modal .divide-right {
	    font-size: 14px;
	    line-height: 17px;
	}
	.product-line-grid-right .bootstrap-touchspin input.form-control {
	    width: 3.5rem;
	}
	.block-promo .promo-code-button a {
	    font-size: 17px;
	}
	.checkout.cart-detailed-actions.card-block .btn-primary {
		padding-left: 1rem;
		padding-right: 1rem;
		width: 100%;
	}
	.blockreassurance .block-title {
	    font-size: 19px;
	    line-height: 32px;
	}
	#main .page-header h1 {
    	font-size: 36px;
    }
    .page-my-account #content .links a, 
    .page-my-account #content .links a:hover {
	    font-size: 20px;
	}

	#products .product-title, .featured-products .product-title, .product-accessories .product-title, .product-miniature .product-title {
		min-height: 48px;
	}
	#products .product-title a, .featured-products .product-title a, .product-accessories .product-title a, .product-miniature .product-title a {
		font-size: 14px;
	}
	#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping {
		font-size: 15px;
	}
	#products .regular-price, .featured-products .regular-price, .product-accessories .regular-price, .product-miniature .regular-price {
    	font-size: 14px;
    	line-height: normal;
	}
	#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping {
	    display: block;
	}
	#products .add-to-cart, .featured-products .add-to-cart, .product-accessories .add-to-cart, .product-miniature .add-to-cart {
	    position: relative;
	    opacity: 1;
	    bottom: auto;
	    display: block;
	    margin-top: 10px;
	}
	body#product h1,
	body#index .quickview h1,
	body#category .quickview h1 {
    	margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.product-information .product-description p {
	    font-size: 14px;
		line-height: 18px;
	}
	#product .product-variants>.product-variants-item .select2-container {
	    width: 63% !important;
	}
	.block-promo .promo-input+button {
	    font-size: 14px;
	    height: 43px;
	}
	#header #_desktop_cart .cart-products-count {
		right: 11px;
	}
	body#category .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin .input-group-btn {
	    width: 34px;
	    height: 34px;
	}
	body#category .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin .input-group-btn > .btn {
	    margin-top: -2px;
	}
	body#category .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin .input-group-btn > .btn.bootstrap-touchspin-down {
	    margin-top: -14px;
	}
	.block-categories {
	    margin-top: 2rem;
	}
	.add_to_cart .btn-primary {
    	padding-left: 5px;
    	padding-right: 5px;
	}
	article .product-flags {
		left: 0;
	}
	article .product-flags li.product-flag {
	    padding: 0.1125rem 0.2375rem;
		font-size: 10px;
    	line-height: 14px;
    	min-width: 1rem !important;
    	min-height: 1rem !important;
	}
	#blockcart-modal .modal-dialog {
	    max-width: 996px;
	}
	.btn-primary, .btn-secondary, .btn-tertiary {
	    padding: 0.5rem 1.25rem;
	}
	body#checkout .summary-complements label,
	body#checkout #order-summary-content .complement label.value {
	    font-size: 12px;
	}
	#footer_before .footer-reassurance-block > .wpb_wrapper {
    	padding: .6rem;
	}
	#footer_before .footer-reassurance-block > .wpb_wrapper .vc_col-sm-8 {
    	padding-left: 0;
	}
	#footer_before p {
    	font-size: 15px;
    	line-height: 18px;
	}
	.footer-block-app label {
	    font-size: 19px;
	}
	#header #shopSelectorList .dropdown-menu .shop-item .shop_name {
		min-height: 40px;
	}
	#header #shopSelectorList .dropdown-menu .shop-item {
		min-height: 144px;
	}
	#category-navigation .category-item h3 {
		font-size: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	#header .logo {
	    margin-bottom: 12px;
	    margin-top: 12px;
	}
	#header .header-top {
	    width: 100vw;
	}
	#header .shop-selector button {
		display: block;
	}
	#header .shop-selector button .left {
    	float: none;
	}
	#header .shop-selector button .label,
	#header .shop-selector button .shop_name,
	#header .shop-selector button .shop_label,
	#header .shop-selector button .shop_address {
		font-size: 12px;
	}
	#header .shop-selector button .label {
		font-size: 11px;
		margin-bottom: 10px;
	}
	#header .shop-selector button .shop_name {
	    margin-bottom: 0px;
	}
	#header .shop-selector button .caret {
	    margin-left: 0;
	    margin-top: 0;
	    display: inline-block;
	    position: absolute;
	    top: -5px;
	    right: 40px;
	}
	#header .shop-selector button .location {
	    margin-right: 0;
	    margin-left: 15px;
	    display: inline-block;
	    margin-top: 0;
	    position: absolute;
	    top: -4px;
	    right: 0;
	}
	#header .shop-phone {
	    padding-top: 10px;
		display: block;
		text-align: center;
	}
	#header .shop-phone img,
	#header .shop-phone span.phone {
	    display: inline-block;
	}
	#header .shop-phone span.phone {
	    margin-top: 0px;
	}
	#header .shop-phone a {
	    font-size: 12px;
	}
	#header #shopSelectorList .dropdown-menu .shop-item {
	    padding: 1rem 1rem;
	    min-height: 140px;
	}
	#_desktop_shop_selector .dropdown-backdrop {
		display: none !important;
	}
	#header #_desktop_nav .nav_container {
	    padding-top: 1.6rem;
	    padding-bottom: 1.6rem;
	}
	#category-nav .dropdown-backdrop {
		display: none !important;
	}
	#header #shopSelectorList .dropdown-menu .shop-item .shop_name {
	    font-size: 14px;
    	line-height: 17px;
    	min-height: 35px;
	}
	#header #shopSelectorList .dropdown-menu .shop-item .shop_address {
    	font-size: 12px;
	}
	#_desktop_nav {
		padding-left: 0;
	}
	#header #_desktop_nav .nav_container > .row > div {
    	padding-left: 5px;
    	padding-right: 5px;
	}
	#category-navigation .home_product_list_wrapper {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping {
	    display: block;
	}
	#products .add-to-cart, .featured-products .add-to-cart, .product-accessories .add-to-cart, .product-miniature .add-to-cart {
	    position: relative;
	    opacity: 1;
	    bottom: auto;
	    display: block;
	    margin-top: 10px;
	}
	.product_title h1 {
	    font-size: 30px;
	}
	.product-variants h2 {
	    font-size: 18px;
	}
	.images-container .product-images > li.thumb-container > .thumb {
		max-width: 100%;
	}
	.product-variants > .product-variants-item ul li.half-line {
	    width: 100%;
	}
	.product-accessories p.h5 {
	    font-size: 36px;
	}
	.product-images > li.thumb-container {
    	margin-right: 1rem;
	}
	.product-images > li.thumb-container:last-child {
    	margin-right: 0rem;
	}
	.product-accessories .btn-primary {
		padding: 3px;
	}
	.product-line-grid-right .bootstrap-touchspin input.form-control {
	    width: 2.5rem;
	}
	#main .page-header h1 {
    	font-size: 36px;
    }
    .contact-form .form-control-label {
	    font-size: 14px;
    }
    .page-my-account #content .links a, .page-my-account #content .links a:hover {
	    font-size: 20px;
	}
	#blockcart-modal .cart-content .cart-content-btn .btn {
	    font-size: 13px;
	}
	#blockcart-modal .divide-right {
	    font-size: 14px;
	    line-height: 17px;
	}
	.product-line-grid-right .price .label {
	    font-size: 16px;
    }
    .page-order-confirmation .card-block {
	    padding: 0rem;
	}
    #checkout .page-order-confirmation .card-block {
	    padding: 1rem;
	}
	.alert.top-alert {
		padding-left: 30px;
		padding-right: 30px;
	}
	#checkout .form-footer button {
		margin-bottom: 2rem;
	}
	body#checkout #footer ul {
	    display: inline-flex;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	#order-items {
		padding-left: 0;
	}
	.alert.top-alert .alert-text,
	.alert.top-alert .light {
		font-size: 14px;
	}
	.header-top .padding-top {
    	padding-top: 10px;
	}
	body#contact #wrapper > .container {
		padding-left: 0px;
		padding-right: 0px;
	}
	.contact-rich {
	    padding: 2rem 1rem;
	}
	#_desktop_contact_link {
    	padding-right: 10px;
	}
	#contact-link {
		font-size: 0px;
		overflow: hidden;
	}
	#contact-link br {
		display: none;
	}
	#contact-link span,
	#contact-link span a {
		font-size: 16px;
	}
	#contact-link span {
		display: block;
	}
	#_desktop_user_info {
		margin-top: 0;
	}
	#_desktop_cart .blockcart, 
	#_desktop_cart .blockcart:hover,
	#header #_desktop_user_info a, 
	#header #_desktop_user_info a:hover,
	#header .shop-selector .btn {
	    font-size: 16px;
	}
	#_desktop_cart .blockcart span.title {
		display: none;
	}
	#header #_desktop_cart .cart-products-count {
		right: 7px;
	}
	#header .layout_layout2:not(.ybc_vertical_menu) .mm_menus_li > a {
		font-size: 14px !important;		
	}
	#block-reassurance .block-reassurance-item {
	    justify-content: flex-start;
		margin-bottom: 1rem;
	}
	#block-reassurance .block-reassurance-item h3 {
	    font-size: 16px;
	}
	body#index h1 {
	    font-size: 30px;
	    width: 80%;
	}
	#home-home-seo img {
    	margin-top: 40px;
    	margin-left: 15px;
	}
	#home-home-seo .wpb_row, 
	#home-home-seo .wpb_content_element {
    	margin-bottom: 10px;
	}
	#home-home-seo .vc_col-sm-7 .vc_col-sm-4,
	#home-home-seo .vc_col-sm-7 .vc_col-sm-8 {
		width: 50%;
	}
	#footer_before .footer-reassurance-block > .wpb_wrapper {
    	padding: .6rem;
	}
	#footer_before .footer-reassurance-block > .wpb_wrapper .vc_col-sm-8 {
    	padding-left: 0;
	}
	#footer_before p {
    	font-size: 10px;
    	line-height: 13px;
	}
	.block-social label {
	    font-size: 19px;
    	padding-top: 0;
    	display: block;
    	margin-bottom: 10px;
	}
	.block-social label br {
    	display: none;
	}
	.vc_column_container .vc_btn, .vc_column_container .wpb_button {
    	font-size: 15px;
	}
	.block-category .block-category-inner h1 {
	    line-height: 40px;
		font-size: 30px;
	}
	#category-navigation .category-item, #category-navigation .category-item-order {
	    height: 128px;
	    width: auto;
	}
	#category-navigation .category-item h3 {
	    font-size: 20px;
	}
	#category-header .right-column > .wpb_wrapper {
    	padding: 0 0rem;
	}
	#category-header .right-column h2 {
	    font-size: 36px;
		margin-bottom: 1rem;
	}
	#category-header .right-column h2 {
	    font-size: 26px;
	}
	#category-header .right-column p {
	    font-size: 18px;
		margin-bottom: 1rem;
		line-height: 24px;
	}
	.carousel .carousel-inner {
    	height: 342px;
	}
	#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description {
	    height: 46px;
	}
	#products .category-title a, .featured-products .category-title a, .product-accessories .category-title a, .product-miniature .category-title a {
		font-size: 16px;
	}
	#products .product-title, .featured-products .product-title, .product-accessories .product-title, .product-miniature .product-title {
		min-height: 48px;
	}
	#products .product-title a, .featured-products .product-title a, .product-accessories .product-title a, .product-miniature .product-title a {
		font-size: 14px;
	}
	#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping {
		font-size: 15px;
	}
	#products .regular-price, .featured-products .regular-price, .product-accessories .regular-price, .product-miniature .regular-price {
    	font-size: 14px;
	}
	body#product h1,
	body#index .quickview h1,
	body#category .quickview h1 {
    	margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.product-information .product-description p {
	    font-size: 14px;
		line-height: 18px;
	}
	#product .product-variants>.product-variants-item .select2-container {
	    width: 63% !important;
	}
	article .product-flags {
		left: 0;
	}
	article .product-flags li.product-flag {
	    padding: 0.1125rem 0.2375rem;
		font-size: 10px;
    	line-height: 14px;
    	min-width: 1rem !important;
    	min-height: 1rem !important;
	}
	.add_to_cart .btn-primary {
    	padding-left: 5px;
    	padding-right: 5px;
	}
	.checkout.cart-detailed-actions.card-block .btn-primary {
		padding-left: 1rem;
		padding-right: 1rem;
		width: 100%;
	}
	.product-quantity #quantity_wanted {
	    width: 6rem;
	}
	.quickview .product-quantity #quantity_wanted {
	    width: 7rem;
	}
	.block-categories a {
    	font-size: 18px;
	}
	.block-categories .category-sub-menu .category-sub-menu {
    	margin-left: 0px;
	}
	.block-categories .category-sub-menu .category-sub-link i {
    	font-size: 16px;
    	margin-right: 5px;
	}
	.block-social ul li a i {
	    font-size: 34px;
	}
	.block-social ul li a {
	    padding: 3px 6px 5px;
	}
	.links.displayFooter a, .links.displayFooter a:hover {
	    font-size: 12px;
	}
	.product-line-grid-right .bootstrap-touchspin input.form-control {
	    width: 6rem;
	}
	#pagenotfound .page-not-found h2, #products .page-not-found h2 {
	    font-size: 100px;
	}
	.search-widget form input[type="text"] {
    	min-width: 230px;
	}
	.footer-block-app label {
	    font-size: 14px;
	    margin-bottom: 1rem;
    	margin-top: 1rem;
	}
	.footer-container .links ul {
    	display: inline-flex;
    	margin-bottom: 10px;
    	text-align: center;
    	flex-wrap: wrap;
    	justify-content: center;
	}
	body#index .quickview h1,
	body#category .quickview h1 {
		font-size: 28px;
	}
}

@media (max-width: 767px) {
	.img-responsive {
		max-width: 100%;
	}
	#header .logo {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
	#header .header-banner {
	    font-size: 12px;
	    padding: 14px 45px;
	}
	#header .header-top {
	    width: 100vw;
	}
	#header .header-top-container,
	#header.shopListDown .header-top-container {
    	background: none;
    	padding-bottom: 10px;
	}
	#header .with-gradient {
		background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(8,8,114,0) 80%, rgba(185,156,95,1) 80%, rgba(185,156,95,1) 100%);
	}
	#header.shopListDown .with-gradient {
	    background: linear-gradient(90deg, var(--main-bg-dark) 0%, var(--main-bg-dark) 89%, rgba(185,156,95,1) 90%, rgba(185,156,95,1) 100%);
	}
	#header #_desktop_nav .nav_container, #header #_mobile_nav .nav_container {
	    padding-top: 1rem;
	    padding-bottom: 1rem;
	}

	#header #dropdownShopSelector span.label,
	#header #dropdownShopSelector span.shop_address,
	#header #dropdownShopSelector span.shop_label {
		display: none;
	}
	#header .shop-phone img {
		margin-right: 10px;
	}
	#header .shop-selector button .location {
    	margin-right: 0px;
	}
	#header .nav_container .row {
		margin: 0;
		display: flex;
		align-items: center;
	}
	#header .nav_container .row .col-xs-3 {
		float: none;
		width: auto;
	    padding: 0;
	    margin: 0 10px;
	}
	#header .nav_container .row > div:first-child {
	    margin-left: 0;
	}
	#header .nav_container .row > div:last-child {
	    margin-right: 0;
	}
	#header #_desktop_cart .cart-products-count {
		right: 0px;
	}
	#modal-map button.close {
	    right: 10px;
	}
	#_mobile_logo {
		padding-top: 10px;
	}
	#_mobile_shop_selector {
		padding-top: 5px;
		padding-bottom: 0;
	}
	#header .shop-phone {
		padding-top: 2px;
	}
	#header #shopSelectorList .dropdown-menu .shop-item {
	    padding: 10px;
	    font-size: 12px;
	    min-height: 125px;
	    margin-bottom: 30px;
	}
	#header #shopSelectorList .dropdown-menu .shop-item .shop_name {
	    font-size: 14px;
	    min-height: 40px;
	}
	.displayHomePub img {
		max-width: 100%;
	}
	.homeSliderWelcome h2 {
	    font-size: 58px;
	    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
	}
	#category-navigation .category-item, #category-navigation .category-item-order {
	    height: 100px;
	    width: 100%;
	}
	#category-navigation .category-item h3 {
	    font-size: 16px;
	}
	#category-navigation .category-item-order {
	    height: auto;
	    width: 100%;
	    padding: 1rem;
	}
	#category-navigation .category-item-order img {
	    margin: 0 1rem 0 1rem;
	}
	#category-navigation .category-item-order .text h3 {
	    font-size: 18px;
	}
	#category-navigation .not-registered .category-item-order .text h3 {
		font-size: 16px;
	}
	#category-navigation .category-item-order .btn-primary {
	    font-size: 14px;
	    padding: .6rem .8rem;
	}
	.alert.top-alert:before {
		display: none;
	}
	.alert.top-alert:after {
		display: none;
	}
	li.contact_us {
		border-top: 1px solid #333;
		margin-top: 2rem;
	}
	body#checkout #header .header-top {
		display: block;
		position: relative;
	}
	body#checkout #header .header-nav {
		margin-bottom: 0px;
	}
	.alert.top-alert .alert-text,
	.alert.top-alert .light {
		font-size: 12px;
		line-height: 14px;
		text-align: center;
	}
	#header .header-nav .blockcart {
	    padding: 0px;
	    position: relative;
	    height: auto;
	}
	#header .header-nav .blockcart .header {
		margin-top: 0;
	}
	#_mobile_cart .cart-products-count {
	    right: 3px;
	}
	#header .header-nav .blockcart span.title {
        display: none;
	}
	#header .header-nav .user-info {
		margin: 0;
		overflow: hidden;
	}
	#header .header-nav .user-info span {
        display: none;
	}
	#header .header-nav .user-info .account {
		margin-left: 0;
        display: block;
	    text-align: center;
	}
	.carousel {
	    height: auto;
	}
	.carousel .carousel-inner {
	    margin-bottom: 0;
	}
	.carousel .carousel-control.left img {
    	right: -20px;
	}
	.carousel .carousel-control.right img {
    	left: -20px;
	}
	
	#block-reassurance .block-reassurance-item {
		margin-bottom: 2rem;
	}
	#block-reassurance .block-reassurance-item div {
		width: 50%;
	}
	#block-reassurance .block-reassurance-item div.picto {
		text-align: right;
		padding-right: 2rem;
	}

	body#index h1 {
		width: 100%;
	}

	.category-item-products {
		padding-left: 30px;
		padding-right: 30px;
	}

	#category-header .right-column > .wpb_wrapper {
		padding: 0;
	}
	#category-header .right-column h2 {
		font-size: 14px;
		margin-bottom: .5rem;
	}
	#category-header .right-column p {
		font-size: 11px;
		margin-bottom: .5rem;
		line-height: 14px;
	}
	#category-header .bg_category_top {
		text-align: center;
		overflow: hidden;
		margin-bottom: 0;
	}
	#category-header .bg_category_top .wpb_wrapper {
		margin-left: -5rem;
	}
	#category-header .bg_category_top.wpb_single_image img {
    	height: 132px;
    	max-width: none;
	}
	body#category #wrapper {
	    background: transparent;
	}
	.product-accessories {
    	margin: 1rem 0 0;
	}
	.product-accessories h2 {
	    font-size: 32px;
	}
	.product-accessories h3 {
	    font-size: 18px;
	}
	.blockreassurance {
	    padding-top: 2rem;
    	padding-bottom: 1rem;
	}
	.footer-container {
	    background-size: cover;
	}
	.links.displayFooter ul li {
    	float: none;
    	margin: 12px 0;
	}
	.links.displayFooter ul li.sep {
		display: none;
	}
	.links.displayFooter a, .links.displayFooter a:hover {
		font-size: 28px;
	}
	.block-social h3 {
		font-size: 26px;
	}
	.block-category-image img {
		width: 100%;
	}
	.block-category h1 {
    	font-size: 32px;
		text-align: center;
	}
	.block-category .block-category-inner #category-description p {
		text-align: center;
	}
	.block-category .block-category-inner .category-cover img {
	    width: 146%;
	    margin-left: -28%;
	}
	.block-category #category-description {
	    left: 0;
	    text-align: left;
	    padding: 0 1rem;
	    width: 100%;
	}
	.block-category .block-category-inner h1 {
	    line-height: 30px;
	    font-size: 28px;
	}
	#category #product-list-delivery-mode .delivery_choice.choosen {
		border-bottom: 1px solid #FFF;
		padding-bottom: 10px;
	}
	#category #product-list-delivery-mode .delivery_infos {
		margin-top: 0;
	}
	.images-container .product-images > li.thumb-container > .thumb {
		max-width: 100%;
	}
	.product-images > li.thumb-container {
    	margin-right: 1rem;
	}
	.product-images > li.thumb-container:last-child {
    	margin-right: 0rem;
	}
	.social-sharing {
		margin-bottom: 1rem;
	}
	.product_title h1 {
		font-size: 32px;
	}
	.product_title h2,
	.product-variants h2 {
		font-size: 18px;
	}
	.product-description h2 a {
    	font-size: 20px;
	}
	.product-description p {
		font-size: 16px;
	}
	.product-information {
		margin-bottom: 2rem;
	}
	.product-accessories p.h5 {
		font-size: 32px;
	}
	.product-actions .product-quantity {
		text-align: center;
		margin-top: 2rem;
	}
	.product-quantity #quantity_wanted {
	    height: 50px;
	    width: 8rem;
	}
	.product-quantity .input-group-btn-vertical {
    	width: 3.6rem;
	}
	.product-quantity .input-group-btn-vertical .btn {
	    padding: .956rem 0.8875rem;
	}
	.product-quantity .input-group-btn-vertical .btn i {
	    top: 4px;
	    left: 22px;
	}
	.products .add_to_cart .btn-primary {
    	padding: 0.5rem 1rem;
    	width: 100%;
	}
	#products .product-description-short p, .featured-products .product-description-short p, .product-accessories .product-description-short p, .product-miniature .product-description-short p {
	    padding-left: 1rem;
	    padding-right: 1rem;
	    font-size: 15px;
	    line-height: 20px;
	}
	#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping {
		display: block;
	}
	#products .product-title, .featured-products .product-title, .product-accessories .product-title, .product-miniature .product-title {
    	margin-top: 0rem;
    	margin-bottom: 0rem;
	}
	#products .add-to-cart, .featured-products .add-to-cart, .product-accessories .add-to-cart, .product-miniature .add-to-cart {
	    position: relative;
	    opacity: 1;
	    bottom: auto;
	    display: block;
	    margin-top: 10px;
	}
	.bootstrap-touchspin .input-group-btn-vertical i {
	    top: 0px;
	    left: 4px;
	    font-size: 11px;
	    line-height: 18px;
	}
	#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description {
	    margin: 0;
	}
	#home-home-seo img {
    	margin-top: 0;
    	margin-left: 0;
	}
	.displayHomeSEO {
		padding-bottom: 1rem;
	}
	.displayHomeSEO .vc_col-sm-7 .vc_col-sm-4,
	.displayHomeSEO .vc_col-sm-7 .vc_col-sm-8 {
		width: 50%;
		float: left;
		padding: 0 15px;
	}
	.displayHomeSEO .vc_col-sm-7 .vc_col-sm-4 .btn-primary,
	.displayHomeSEO .vc_col-sm-7 .vc_col-sm-8 .btn-primary {
		width: 100%;
		font-size: 14px;
	}
	.footer-reassurance-block {
		margin-bottom: 15px;
	}
	.footer-reassurance-block .vc_col-sm-4,
	.footer-reassurance-block .vc_col-sm-8 {
		float: left;
		padding: 0 15px;
	}
	.footer-reassurance-block .vc_col-sm-4 {
		width: 33.333334%;
	}
	.footer-reassurance-block .vc_col-sm-8 {
		width: 66.666666%;
	}
	.block-social label {
    	padding-top: 0;
    	margin-bottom: 1rem;
	}
	.footer-block-app label {
	    line-height: 30px;
	}
	.block-hours {
	    margin-top: 2rem;
	}
	#blockcart-modal .modal-title {
	    font-size: 19px;
	}
	#blockcart-modal .modal-title i.material-icons {
		margin-right: 5px;
	}
	#blockcart-modal .divide-right br {
		display: none;
	}
	#blockcart-modal .cart-content .cart-content-btn .btn {
	    font-size: 16px;
	    padding-left: .5rem;
	    padding-right: .5rem;
	}
	#blockcart-modal .cart-content .cart-content-btn .btn.btn-primary {
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.bootbox-confirm .modal-footer, 
	.bootbox-alert .modal-footer {
		display: block;
	}
	.modal-footer .bootbox-cancel,
	.modal-footer .bootbox-accept {
	    width: 100%;
	    display: block;
	}
	.modal-footer .bootbox-cancel {
		margin-bottom: 2rem;
	}
	.cart-grid-body .cart-items .cart-item .product-line-grid {
    	display: block;
    	align-items: inherit;
	}
	body#cart h1, body#cart #complements h2, body#cart #elements h2 {
	    font-size: 30px;
	    margin-top: 0;
	    margin-bottom: 0;
	}
	body#cart #complements h2, body#cart #elements h2 {
	    margin-top: 10px;
	    margin-bottom: 1.5rem;
	}
	body#cart .input-group-btn {
	    width: 50px;
	}
	body#cart a.continue-buying,
	body#cart a.checkout,
	body#cart button.checkout {
	    width: 100%;
	}
	body#cart a.continue-buying {
		margin-bottom: 2rem;
	}
	body#cart .bootstrap-touchspin input.form-control, body#cart .bootstrap-touchspin input.input-group {
	    width: calc(100% - 120px);
	}
	body#cart .product-line-grid .product-line-actions .remove {
	    padding-left: 0;
	}
	.product-line-grid-right .price .label {
		display: none;
	}
	.product-line-grid-right .product-price {
		margin-bottom: 8px;
	}
	.product-line-grid-right .cart-line-product-actions .remove-from-cart img, 
	.product-line-grid-right .product-price .remove-from-cart img {
		max-width: 24px;	
		margin-bottom: 8px;
	}
	.cart-items {
    	padding: 1rem 0 .6rem;
	}
	.cart-grid-body a.label {
    	margin-top: 2rem;
    	margin-bottom: 2rem;
    	display: inline-block;
	}
	body#checkout section.checkout-step .step-title {
		font-size: 18px;
	}
	#order-items .order-line {
    	padding: 0;
    	display: block;
	}
	.done {
		margin-left: 0;
    	margin-right: 0.325rem;
    	padding: 0;
	}
    body#checkout section.checkout-step .content {
        padding: 0.9375rem 1rem;
    }
    body#checkout section.checkout-step .content .googleMapButton {
	    margin-bottom: 2rem;
    }
    #main .page-header h1 {
	    font-size: 32px;
    }
    .page-my-account #content .links a, .page-my-account #content .links a:hover {
	    font-size: 22px;
	    text-align: left;
	}
	.page-my-account #content .links a span.link-item {
	    text-align: left;
	    justify-content: flex-start;
	}
	#deliveryMode-modal .modal-header h4.modal-title, #deliveryModeReorder-modal .modal-header h4.modal-title {
		font-size: 24px;
	}
	#deliveryMode-modal .modal-body .text, #deliveryModeReorder-modal .modal-body .text {
    	padding-bottom: 2rem;
	}
	body#checkout #order-summary-content .summary-selected-carrier .row {
	    display: block;
	    width: 100%;
	}
	#payment-confirmation button.btn {
		width: 100%;
		font-size: 18px;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	#exportDataToCsv,
	#exportDataToPdf {
	    display: block;
	    float: none;
	    font-size: 14px;
	    padding-left: 1rem;
	    padding-right: 1rem;
	    margin-left: 0;
	    margin-right: 0;
	}
	#exportDataToCsv {
		margin-bottom: 1rem;
	}
	.contact-form {
	    padding: 1rem;
	}
	#header .shop-selector p {
	    display: inline-block;
	    margin-right: 1rem;
	}
	#header .shop-selector .dropdown-menu {
	    right: 15px;
	    width: 59%;
	    left: auto;
	}
	.store_data {
	    display: block;
	}
	#category #product-list-delivery-mode .delivery_choice.choosen:after {
		border-right: 0px;
	}
	#category-nav.sticky {
		width: 100%;
		z-index: 100;
		border-top: 1px solid var(--main-taupe);
	}
	#product_list_top {
	    margin-left: -15px;
	    margin-right: -15px;
	    background-color: var(--main-bg-dark);
	    position: relative;
	}
	#product_list_top .bg-white {
		background-color: #FFF;
	}
	.block-categories {
	    background-color: var(--main-bg-dark);
	    padding: 1rem;
	    margin-bottom: 0rem;
	    margin-top: 0rem;
	    min-height: auto;
	}
	.block-categories .open > .dropdown-menu {
	    display: block;
	    width: 100%;
	    position: relative;
	    float: none;
	    background-color: transparent;
	    border: none;
	    text-align: center;
	    border-top: 1px solid #a9a9a9;
		margin-top: .5rem;
	    background-color: var(--main-bg-dark);
	}
	.block-categories .open > .dropdown-menu a {
		font-weight: 400;
	    width: 100%;
	    display: inline-block;
	    margin: .4rem 0 .4rem;
	    padding-bottom: 0;
	    text-transform: uppercase;
	    text-align: center;
	}
	.block-categories .btn.btn-default.dropdown-toggle {
		width: 100%;
	    background-color: transparent;
	    font-weight: 400;
	    margin: 0;
	    padding: 0;
	    color: var(--main-taupe);
	    text-align: center;
	    font-size: 18px;
	}
	.block-categories .dropdown-toggle:after {
	    display: none;
	}
	.block-categories .dropdown-toggle .caret {
		display: inline-block;
		width: 10px;
		height: 10px;
		background: transparent;
		border-top: 1px solid var(--main-taupe);
		border-left: 1px solid var(--main-taupe);
		transition: all 250ms ease-in-out;
		text-decoration: none;
		color: transparent;
		float: right;
		transform: rotate(-135deg);
		position: absolute;
	    right: 2rem;
	    top: 20px;
	}
	.block-categories .category-sub-menu li[data-depth="1"] {
    	margin-bottom: .3rem;
   		margin-top: .3rem;
	}
	.block-categories .category-sub-menu .category-sub-link {
	    font-size: 14px;
	}
	.block-categories .category-sub-menu .category-sub-menu {
    	margin-top: 0rem;
	}
	body#category .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin .input-group-btn {
	    width: 34px;
	    height: 34px;
	}
	body#category .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin .input-group-btn > .btn {
	    height: 34px;
	}
	body#category .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin input.form-control,
	body#category .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin input.input-group {
	    width: 30%;
	    margin: 0 3px;
	    padding: 0;
	}
	body#category .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin .input-group-btn > .btn {
	    margin-top: 0px;
	}
	body#category .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin .input-group-btn > .btn.bootstrap-touchspin-down {
	    margin-top: -4px;
	}
	ul.category-top-menu {
		margin-bottom: .5rem;
	}
	body#checkout section.checkout-step .forgot-password {
	    margin-left: 0;
		text-align: right;
		margin-bottom: 1rem;
	}
	body#checkout section.checkout-step .address-item {
		flex: 1;
	}
	body#checkout #delivery_hour label {
    	text-align: left;
	}
	.products.row {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.product-container > div:first-child {
		padding-left: 0;
		padding-right: 0;
	}
	body#product h1,
	body#index .quickview h1,
	body#category .quickview h1 {
    	margin-top: 2rem;
	}
	.modal .delivery_choice .no-padding-right {
		padding-right: 15px;
	    text-align: center;
	    margin-top: 1rem;
	    margin-bottom: 1rem;
	}
	.modal .delivery_choice .no-padding-left {
		padding-left: 15px;
	    text-align: center;
	    margin-bottom: 1rem;
	}
	body#checkout .cart-grid-right .detail a:hover {
    	color: #fff;
	}
	#cms a {
		word-break: break-all;
	}
	#header #_desktop_logo, #header #_desktop_shop_selector {
	    border-right: 0px;
	}
	#header #_desktop_logo, #header #_desktop_contact, 
	#header #_desktop_shop_selector {
    	margin-top: 10px;
	}
	body#checkout #header .shop-selector button .shop_address {
		display: none;
	}
	.delivery_zones_button {
		margin-bottom: 2rem;
	}
	.add-address .btn-primary.btn-black {
		width: 100%;
	}
	.btn-primary.continue {
		width: 100%;
	}
	#order-confirmation .card-block {
    	padding: 1rem;
	}
	#my-account a.btn-secondary,
	.addresses-footer a,
	.form-footer button {
		width: 100%;
	}
	.js-modal-content h2 {
		font-size: 20px;
	}
	.close {
		opacity: 1;
	}
	.contact-rich {
	    margin-bottom: 2rem;
	    padding: 3rem 3rem 2rem;
	}
	.contact-form .g-recaptcha {
	    text-align: center;
	    display: block;
	}
	.contact-form .g-recaptcha > div {
	    display: inline-block;
	    margin: 0 auto;
	}
	body#contact .btn-primary.btn-black {
	    margin-top: 0rem;
		width: 100%;
	}
	#header .header-top {
	    padding-bottom: 0px;
	}
	body#checkout #footer li {
	    float: none;
	    display: block;
	}
	body#checkout #footer li::after {
    	content: "";
    	margin-left: 0px;
	}
	.page-addresses .address .address-body address {
	    min-height: auto;
	}
	.page-customer-account #content {
	    padding: 0;
	}
	.page-authentication #content .register-form p.already-registered {
	    padding: .6rem 1rem;
	}
	#password .form-control-label {
		text-align: left;
	}
	.page-content.page-cms {
	    padding: 1.25rem 0rem;
	}
	.table-bordered, .table-bordered td, .table-bordered th {
    	font-size: 14px;
	}
	body#cms h2 {
		font-size: 24px;
	}
	.quickview .modal-dialog {
	    width: calc(100% - 20px);
	}
	.open > #spy .dropdown-menu {
	    padding: 0rem 6rem;
	}
	.nav-inline .nav-item+.nav-item, .nav-inline .nav-link+.nav-link {
    	margin-left: 0rem;
	}
	#wrapper .breadcrumb.sticky {
	    width: 100vw;
	}
	#category #product-list-delivery-mode .delivery_choice {
	    padding: 8px 0;
	}
	#category #product-list-delivery-mode .home_choice {
	    padding: 5px 5px;
	    width: 100%;
    }
	#block-reassurance {
	    margin-top: 13rem;
	}
	#header .header-banner {
	    font-size: 12px;
	    padding: 10px 35px 10px 0;
	    line-height: 14px;
	    text-align: left;
	}
}

@media (max-width: 575px) {
	.product-flags li.product-flag {
		font-size: 12px;
		padding: 3px 5px;
    	line-height: 14px;
    	min-height: auto !important;
    	min-width: auto !important;
	}
	.product-line-grid-right .bootstrap-touchspin input.form-control {
	    width: 3rem;
	}
	body#checkout section.checkout-step .step-title {
		font-size: 22px;
	}
	#main .page-header.customer-page {
	    margin-top: 1rem;
	}
	#category-navigation .category-item-order .btn-primary {
	    font-size: 14px;
	}
	.category-item-products {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	#modalChoixLivraison .modal-body {
    	padding: 15px 10px;
	}
	#modalChoixLivraison .shop_name {
	    font-size: 20px;
	}
	#modalChoixLivraison .row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.well-sm p {
	    font-size: 14px;
	}
	#modalChoixLivraison h3 {
	    font-size: 20px;
	    margin: 15px 0px 15px 0px;
	    padding-bottom: 10px;
		letter-spacing: 0px;
	}
	#modalChoixLivraison #livraison,
	#modalChoixLivraison #emporter {
		width: 100%;
	}
	#modalChoixLivraison #livraison {
		margin-bottom: 1rem;
	}
	#modalChoixLivraison .modal-header h2 {
	    text-align: center;
	}
	#modalChoixLivraison .modal-body .btn-primary {
	    width: 100%;
	}
	#modalChoixLivraison .modal-body #modalChoixLivraison_livrer_link,
	#modalChoixLivraison .modal-body #livraison {
	    margin-bottom: 1rem;
	}
	#block-reassurance {
	    margin-top: 13rem;
	}
	#header .header-banner {
	    font-size: 12px;
	    padding: 10px 35px 10px 0;
	    line-height: 14px;
	    text-align: left;
	}
}

@media (max-width: 414px) {
	.carousel .carousel-inner {
	    height: 188px;
	}
	#header .shop-selector .dropdown-menu {
	    width: 59%;
	}
	#category-navigation .category-item-order .btn-primary {
	    font-size: 14px;
	}
	#block-reassurance {
	    margin-top: 13rem;
	}
	#header .header-banner {
	    font-size: 12px;
	    padding: 10px 35px 10px 0;
	    line-height: 14px;
	    text-align: left;
	}
}

@media (max-width: 375px) {
	#header #_mobile_nav .nav_container {
	    padding-left: 2rem;
	}
	#header #shopSelectorList .dropdown-menu .shop-item {
	    min-height: 100px;
	}
	#header #shopSelectorList .dropdown-menu .shop-item .shop_name {
	    min-height: 40px;
	}
	#category-navigation .category-item-order .text h3 {
    	font-size: 16px;
	}
	#category-navigation .category-item-order .text h4 {
    	font-size: 14px;
	}
	#category-navigation, 
	#category-navigation-bottom {
	    margin-bottom: -1px;
	}
	.footer-block-app label {
    	font-size: 19px;
	}
	#products .category-title a, .featured-products .category-title a, .product-accessories .category-title a, .product-miniature .category-title a {
	    font-size: 20px;
	}
	.links.displayFooterContact, .links.displayFooterFranchise {
	    margin-left: 3rem;
	    margin-right: 3rem;
	}
	#main .page-header h1 {
	    font-size: 26px;
	}
	body#index h1 {
	    font-size: 30px;
	}
	.block-category .block-category-inner #category-description p:first-child {
		font-size: 16px;
	}
	#blockcart-modal .modal-title {
	    font-size: 15px;
	}
	#blockcart-modal .cart-content .cart-content-btn .btn {
	    font-size: 14px;
	}
	body#checkout section.checkout-step .step-title {
	    font-size: 20px;
	}
	.btn-tertiary {
	    font-size: 14px;
	}
	#content-hook_order_confirmation .card-block h3 {
	    font-size: 24px;
	}
	#content-hook_order_confirmation .card-block p {
	    font-size: 16px;
	}
	#deliveryMode-modal .modal-header h4.modal-title, #deliveryModeReorder-modal .modal-header h4.modal-title {
	    font-size: 19px;
	}
	#deliveryMode-modal .modal-body .text p, 
	#deliveryModeReorder-modal .modal-body .text p {
		font-size: 18px;
		line-height: 22px;
	}
	#deliveryMode-modal .modal-body > div, #deliveryModeReorder-modal .modal-body > div {
	    padding: 2rem 1rem 1rem;
	}
	#deliveryMode-modal .modal-body .text, #deliveryModeReorder-modal .modal-body .text {
	    padding-bottom: 0rem;
	}
	.cart-summary .recap-panier, .card .recap-panier {
		font-size: 24px;
	}
	#header .shop-selector .dropdown-menu {
	    width: 60%;
	}
    .nav-inline .nav-item a {
	    font-size: 14px;
    }
    .links.displayFooter a, .links.displayFooter a:hover {
    	font-size: 25px;
	}
	.product-line-grid-right .bootstrap-touchspin input.form-control {
	    width: 3rem;
	}
	body#checkout .summary-selected-delivery_hour .selected-delivery_hour .icon, body#checkout .summary-complements .icon {
	    font-size: 38px;
	}
	#header .shop-selector button .caret {
	    margin-left: 10px;
	    margin-right: 10px;
	}
	#category-navigation .category-item, #category-navigation .category-item-order {
	    margin-bottom: 20px;
	}
	#block-reassurance .block-reassurance-item div.picto {
		width: 40%;
		padding-right: 0;
	}
	#block-reassurance .block-reassurance-item div.text {
		width: 60%;
	}
	.homeSliderWelcome .home_choice, #checkout .home_choice {
	    padding: 5px 10px;
	    width: 100%;
	    min-width: auto;
	}
	.block-category #category-description {
	    left: auto;
	    text-align: center;
	    padding: 0 1rem;
	}
	.block-category .block-category-inner h1 {
	    line-height: 30px;
	    font-size: 24px;
	}
	#category #product-list-delivery-mode .delivery_link a {
	    font-size: 14px;
	    height: 43px;
	    padding: .8rem .5rem;
	}
	#category #product-list-delivery-mode .delivery_link a.withSubtitle {
	    padding: .4rem .5rem;
	}
	.products_category_name h2 {
	    margin-bottom: 1rem;
	    margin-top: 1rem;
	}
	#header .header-top .user-info .user_logged_flag {
	    bottom: -12px;
	}
	.page-my-account #content .links a, .page-my-account #content .links a:hover {
	    font-size: 20px;
	}
	#category-navigation .category-item-order .btn-primary {
	    font-size: 11px;
	}
	.page-content.page-cms {
	    padding: 1.25rem 0rem;
	}
	.table-bordered, .table-bordered td, .table-bordered th {
    	font-size: 11px;
	}
	#block-reassurance {
	    margin-top: 13rem;
	}
	#header .header-banner {
	    font-size: 12px;
	    padding: 10px 35px 10px 0;
	    line-height: 14px;
	    text-align: left;
	}
}

@media (max-width: 360px) {
	#category-navigation h2 {
		font-size: 32px;
	}
	.displayHomeSEO .vc_col-sm-7 .vc_col-sm-4 .btn-primary, .displayHomeSEO .vc_col-sm-7 .vc_col-sm-8 .btn-primary {
	    font-size: 12px;
	}
	.product-line-grid-right .cart-line-product-actions, .product-line-grid-right .product-price {
    	font-size: 22px;
	}
	.cart-grid-body a.label {
	    margin-top: 2rem;
	    margin-bottom: 0rem;
	}
	.product-line-grid-left img {
    	margin-bottom: 1rem;
	}
	body#cart .summary-complements .bootstrap-touchspin input.form-control, 
	body#cart .summary-complements .bootstrap-touchspin input.input-group {
    	width: 38px;
	}
	.block-categories .category-line a, .block-categories .category-line a:hover {
	    padding: 2px 0;
	}
	body#checkout section.checkout-step .step-title {
	    font-size: 19px;
	}
	.block-promo .promo-input+button {
	    font-size: 14px;
	    height: 43px;
	}
	.block-promo.promo-highlighted {
	    margin-top: 10px;
	    font-size: 14px;
	    padding: 0;
	}
	#header #shopSelectorList .dropdown-menu .shop-item {
	    min-height: 134px;
	}
	#block-reassurance {
	    margin-top: 13rem;
	}
	#header .header-banner {
	    font-size: 12px;
	    padding: 10px 35px 10px 0;
	    line-height: 14px;
	    text-align: left;
	}
	#category #product-list-delivery-mode .delivery_link a {
	    font-size: 13px;
	    height: 43px;
	    padding: .8rem .5rem;
	}
	#category #product-list-delivery-mode .delivery_link a.withSubtitle {
	    font-size: 13px;
	    padding: .4rem .5rem;
	}
}

@media (max-width: 320px) {
	#main .page-header h1 {
	    font-size: 24px;
	}
	body#index h1 {
		font-size: 30px;
	}
	body#cms h1, 
	body#authentication h1, 
	body#contact h1, 
	body#password h1, 
	body#product h1,
	body#index .quickview h1,
	body#category .quickview h1 {
	    font-size: 30px;
	}
	.homeSliderWelcome h2 {
	    font-size: 46px;
	}
	#header .header-nav .blockcart span.title {
	    font-size: 8px;
	    line-height: 10px;
	    margin-top: 2px;
	}
	#header .header-nav .user-info span {
	    font-size: 8px;
	    line-height: 10px;
	}
	#header .shop-selector button .shop_address {
	    display: none;
	}
	#header #_mobile_nav .nav_container {
    	padding-top: 10px;
    	padding-bottom: 10px;
	}
	#header .nav_container .row .col-xs-3 {
	    margin: 0 5px;
	}
	.blockreassurance .block-icon img, .blockreassurance .block-icon svg {
		max-width: 100%;
	}
	#category-navigation h2 {
	    font-size: 30px;
	}
	#category-navigation .category-item, #category-navigation .category-item-order {
	    margin-bottom: 0;
	}
	#category-navigation .category-item-order img {
    	width: 20%;
	}
	#category-navigation .category-item-order .text h3 {
    	font-size: 14px;
	}
	#category-navigation .not-registered .category-item-order .text h3 {
		font-size: 14px;
	}
	#category-navigation .category-item-order .text h4 {
    	font-size: 12px;
	}
	.displayHomeSEO .vc_col-sm-7 .vc_col-sm-4 .btn-primary, .displayHomeSEO .vc_col-sm-7 .vc_col-sm-8 .btn-primary {
	    font-size: 10px;
	}
	.homeSliderWelcome .home_choice span, #checkout .home_choice span {
	    font-size: 16px;
	}
	#category #product-list-delivery-mode .home_choice span {
		font-size: 16px;
	}
	#products .category-title, 
	.featured-products .category-title, 
	.product-accessories .category-title, 
	.product-miniature .category-title {
	    min-height: 46px;
	}
	#products .product-title a, 
	.featured-products .product-title a, 
	.product-accessories .product-title a, 
	.product-miniature .product-title a {
	    font-size: 12px;
	    line-height: 16px;
	    min-height: 50px;
	}
	.products .add_to_cart .btn-primary {
    	padding: 0.5rem 0rem;
    	width: 100%;
	}
	.links.displayFooterContact, .links.displayFooterFranchise {
	    margin-left: 2rem;
	    margin-right: 2rem;
	}
	.block-social h3 {
	    font-size: 22px;
	}
	.links.displayFooterContact p.h3, .links.displayFooterFranchise p.h3 {
	    font-size: 20px;
	}
	.block-category .block-category-inner #category-description p:first-child {
		font-size: 14px;
	}
	.block-category #category-description {
	    left: auto;
	    text-align: center;
	    padding: 0 1rem;
	}
	.block-category .block-category-inner h1 {
	    line-height: 30px;
	    font-size: 24px;
	}
	#category #product-list-delivery-mode .delivery_link a {
	    font-size: 12px;
	    height: 43px;
	    padding: .8rem .5rem;
	}
	#category #product-list-delivery-mode .delivery_link a.withSubtitle {
	    font-size: 12px;
	    padding: .4rem .5rem;
	}
	#blockcart-modal .modal-title {
	    font-size: 13px;
	}
	#blockcart-modal .cart-content .cart-content-btn .btn {
	    font-size: 11px;
	}
	body#checkout section.checkout-step .step-title {
	    font-size: 17px;
	}
	body#checkout section.checkout-step.-complete .step-title {
	    margin-top: 0;
	    position: relative;
	}
	body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
    	position: absolute;
    	right: 0;
    	top: -1px;
	}
	body#checkout .add-address .btn-primary.btn-black {
		font-size: 15px;
	}
	body#checkout .delivery_zones_button button.btn-tertiary {
		font-size: 11px;
	}
	body#checkout #delivery-address .alert.alert-info {
		margin-top: 0;
	}
	body#checkout #order-summary-content .summary-selected-carrier .logo-container img, 
	body#checkout .summary-complements .logo-container img {
		max-width: 100%;
	}
	.btn-tertiary {
	    font-size: 12px;
	}
	#content-hook_order_confirmation .card-block h3 {
	    font-size: 20px;
	}
	#content-hook_order_confirmation .card-block p {
	    font-size: 14px;
	}
	#deliveryMode-modal .modal-header h4.modal-title, #deliveryModeReorder-modal .modal-header h4.modal-title {
	    font-size: 16px;
	}
	#deliveryMode-modal .modal-body .text p, 
	#deliveryModeReorder-modal .modal-body .text p {
		font-size: 14px;
		line-height: 18px;
	}
	#deliveryMode-modal .modal-body > div, #deliveryModeReorder-modal .modal-body > div {
	    padding: 2rem 1rem 1rem;
	}
	#deliveryMode-modal .modal-body .text, #deliveryModeReorder-modal .modal-body .text {
	    padding-bottom: 0rem;
	}
	.cart-summary .recap-panier, .card .recap-panier {
		font-size: 20px;
	}
	#header .shop-selector .dropdown-menu {
	    width: 62%;
	}
    .nav-inline .nav-item a {
	    font-size: 13px;
    }
    .links.displayFooter a, .links.displayFooter a:hover {
    	font-size: 20px;
	}
    p.copyright,
    p.copyright a {
	    font-size: 16px;
    }
	.footer-container img.logo {
	    max-width: 70%;
	}

	.product_composition h2,
	#productPriceBlock label,
	.product-actions .qty .control-label, 
	.product-actions .total .control-label {
	    font-size: 18px;
	}

	.product-description-short p,
	.product_composition ul li {
	    font-size: 14px;
	    line-height: 22px;
	}
	.product-line-grid-right .bootstrap-touchspin input.form-control {
	    width: 3rem;
	}
	.bootstrap-touchspin .input-group-btn-vertical {
	    width: 1%;
	}
	.product-line-grid-right .bootstrap-touchspin .input-group-btn-vertical > .btn {
    	width: 1rem;
	}
	.bootstrap-touchspin .input-group-btn-vertical i {
		left: 6px;
	}
	#cart .has-discount .discount {
		display: none;
	}
	#cart .btn-primary {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.product-quantity .input-group-btn-vertical .btn {
	    padding: .956rem 1.6875rem;
	}
	#blockcart-modal .modal-dialog {
    	width: 300px;
	}
	body#checkout .summary-complements .complement .bootstrap-touchspin .bootstrap-touchspin-up, 
	body#checkout .summary-complements .complement .bootstrap-touchspin .bootstrap-touchspin-down {
	    padding: 10px 14px;
	    width: 26px;
	}
	#footer_before p {
	    font-size: 13px;
	    line-height: 18px;
	}
	.footer-block-app label {
	    font-size: 16px;
	}
	.g-recaptcha {
        transform:scale(0.77);
        transform-origin:0;
        transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform:scale(0.77);
        transform:scale(0.77);
        -webkit-transform-origin:0 0;
        transform-origin:0 0;
    }
	#header #shopSelectorList .dropdown-menu .shop-item .shop_name {
	    font-size: 12px;
	    min-height: 40px;
	}
	.block-categories .category-line a, .block-categories .category-line a:hover {
		padding: 2px 0;
	}
	.open > #spy .dropdown-menu {
		padding: 1rem 4rem;
	}
	.product-accessories h2 {
	    font-size: 26px;
	}
	.product-accessories h3 {
	    font-size: 14px;
	}
	.thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin input.form-control, .thumbnail-container .an_productattributes-qty-container .bootstrap-touchspin input.input-group {
	    width: 35%;
	    margin: 0 2px;
	}
	#footer_before .footer-reassurance-block > .wpb_wrapper {
	    padding: .5rem;
	}
	.block-social ul li {
	    height: 50px;
	    width: 50px;
	}
	.block-social ul li i {
	    font-size: 32px;
	}
	.sb-menu-right {
	    width: 300px;
	}
	.cart-preview .cart-product-line .product-infos {
	    width: 67%;
	}
	.cart-grid-body a.label {
	    margin-top: 1rem;
	    margin-bottom: 0rem;
	    display: inline-block;
	}
	.product-line-grid-right .cart-line-product-actions .remove-from-cart, .product-line-grid-right .product-price .remove-from-cart {
	    width: 30px;
	    height: 30px;
	}
	.product-line-grid-right .cart-line-product-actions .remove-from-cart:before, .product-line-grid-right .product-price .remove-from-cart:before, .product-line-grid-right .cart-line-product-actions .remove-from-cart:after, .product-line-grid-right .product-price .remove-from-cart:after {
	    top: 6px;
	    left: 15px;
	    height: 20px;
	}
	.product-line-grid-right .cart-line-product-actions, .product-line-grid-right .product-price {
	    font-size: 24px;
	    margin-bottom: 0;
	}
	.product-line-grid-right .price {
		padding-left: 0;
	}
	body#cart .input-group-btn {
	    width: 30px;
	}
	body#cart .input-group .input-group-btn>.btn {
	    padding: .625rem 1rem;
	    height: 30px;
	    width: 30px;
	}
	body#cart .bootstrap-touchspin input.form-control, body#cart .bootstrap-touchspin input.input-group {
		height: 30px;
	}
	body#cart .input-group .input-group-btn>.btn.bootstrap-touchspin-up {
	    padding: 3px 9px;
	}
	body#cart .input-group .input-group-btn>.btn.bootstrap-touchspin-down {
	    padding: 2px 12px;
	}
	.product-line-grid-right.product-line-actions {
		padding-top: 1rem;
	}
	.block-promo .promo-code {
	    padding: 1rem 0;
	}
	.block-promo .promo-input+button {
	    font-size: 14px;
	    height: 43px;
	}
	body#cart .summary-complements .complement label {
	    font-size: 16px;
	}
	body#cart .summary-complements .complement > span {
	    font-size: 13px;
	}
	body#cart .summary-complements p.sauces {
	    font-size: 12px;
	}
	body#cart #complements .text,
	body#cart #elements .text {
	    font-size: 13px;
	    line-height: 16px;
	}
	body#cart #elements ul li label {
		font-size: 14px;
	}
	.display-promo a {
		font-size: 14px;
	}
	.block-promo.promo-highlighted {
	    margin-top: 10px;
	    font-size: 14px;
	    padding: 0;
	}
	#order-items .details {
	    margin-bottom: 1rem;
	    padding-left: 0;
	}
	#order-items .details .qty .row > div {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	#order-items .details .qty .row > div:first-child {
	    padding-left: 15px;
	}
	#order-items .details .qty .row > div:last-child {
	    padding-right: 15px;
	}
	#content-hook_order_confirmation .h1 .text {
	    font-size: 32px;
	}
	#header .header-top .user-info .user_logged_flag {
	    bottom: -9px;
	}
	.page-my-account #content .links a, .page-my-account #content .links a:hover {
	    font-size: 18px;
	}
	.page-addresses .address .address-footer {
	    font-size: 12px;
	}
	.page-addresses .addresses-footer a span {
	    font-size: 12px;
	}
	#main .page-header.customer-page h1 {
		font-size: 30px;
	}
	.page-order-detail h3 {
	    font-size: 13px;
	}
	.page-order-detail .box {
	    font-size: 12px;
	}
	.order-message-form p {
		font-size: 12px;
	}
	#category-navigation .category-item-order .btn-primary {
	    font-size: 10px;
	}
	.page-authentication #content .register-form p.already-registered span,
	.page-authentication #content .register-form p.already-registered a {
	    font-size: 12px;
	    display: block;
	}
	.page-authentication #content .login-form .form-footer button, .page-authentication #content .login_form_container .no-account a {
		font-size: 14px;
	}
	.table-bordered, .table-bordered td, .table-bordered th {
    	font-size: 9px;
	}
	body#cms h2 {
		font-size: 20px;
	}
	.quickview .modal-dialog {
	    width: calc(100% - 20px);
	}
	.quickview .product-quantity #quantity_wanted {
	    width: 6rem;
	}
	.quickview .product-quantity .bootstrap-touchspin.input-group .input-group-btn > .btn {
	    margin: 0 .6rem;
	}
	#block-reassurance {
	    margin-top: 13rem;
	}
	#header .header-banner {
	    font-size: 12px;
	    padding: 10px 35px 10px 0;
	    line-height: 14px;
	    text-align: left;
	}
}

