div.payment_module {
	margin-bottom: 10px;
}
div.payment_module div.atos {
	background: #FBFBFB;
	display: block;
	border: 1px solid #d6d4d4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 17px;
	line-height: 23px;
	color: #333;
	font-weight: bold;
	padding: 12px 0px 0px 15px;
	letter-spacing: -1px;
	position: relative;
	margin-bottom: 10px;
}
.payment_module div.atos:hover, .payment_module div.atos:focus, .payment_module div.atos:active {
	background-color: #e5e6e7;
	border: 1px solid #488c40;
	color: #374853;
}
.payment_module div.atos:hover {
	cursor: pointer;
	background-color: #f6f6f6;
}
div.payment_module div.atos:after {
	display: block;
	content: "\f054";
	position: absolute;
	right: 15px;
	margin-top: -11px;
	top: 50%;
	font-family: "FontAwesome";
	font-size: 25px;
	height: 22px;
	width: 14px;
	color: #777;
}
div.payment_module div.atos form {
	display: inline-table;
	margin-left: 30px;
	margin-top: -20px;
}
div.payment_module div.atos > img {
	display: inline-table;
	height: auto;
}
div.payment_module div.atos img.default {
	width: 140px;
	margin-top: 15px;
}
div.payment_module div.atos img.mercanet {
	width: 250px;
}
div.payment_module div.atos img.sogenactif {
	width: 120px;
	margin-top: 15px;
}
div.payment_module div.atos img.etransactions {
	margin-top :10px;
}
div.payment_module div.atos img.webaffaires {
	width: 210px;
}
div.payment_module div.atos img.sherlocks {
	width: 160px;
	margin-top: 15px;
}
div.payment_module div.atos img.cyberplus {
	margin-top: 10px;
}
div.payment_module div.atos img.scelliusnet {
	margin-top: 20px;
}
div.payment_module div.atos img.citelis {
	width: 250px;
}
