
span.an_productattributes-select-price {
	font-weight: bold;
}
li.an_productattributes-select-sold-out {
  cursor: not-allowed !important;
}
span.an_productattributes-select-sold-out {
  color: #fff;
  background-color: #ffc427;
     padding: 2px 5px;
    margin: 0 5px;
}
span.an_productattributes-select-regular_price {
   text-decoration: line-through;
}
span.an_productattributes-select-sale {
    color: #fff;
    background-color: #e53d60;
     padding: 2px 5px;
    margin: 0 5px;
}

.an_productattributes {
  padding: 0;
}
.an_productattributes form {
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.an_productattributes select,
.an_productattributes .product-variants>.product-variants-item select {
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  box-shadow: none;
  height: 28px;
}
.an_productattributes-select {
	margin-bottom: 10px;
}
.an_productattributes .control-label {
    display: none;
    padding-bottom: 3px;	
}

.an_productattributes .product-variants>.product-variants-item {
    margin: 0;
    margin-right: 5px;
}
body#category .an_productattributes .product-variants>.product-variants-item {
    margin-right: 2px;
}
ul.an_productattributes-group {
	  display: table;
  margin: 0 auto;
}
.an_productattributes .product-variants>.product-variants-item ul li {
  margin: 0px 5px;
}

.an_productattributes .color,
.custom-checkbox input[type=checkbox]+span.color {
  margin: 0;
}
.js-an_productattributes-standart {
	height: 34px;
}
.an_productattributes-qty-container {
  margin-right: 5px;
}
body#category .an_productattributes-qty-container {
  margin-right: 2px;
  margin-top: 1px;
}
.an_productattributes-qty {
  padding: 10px;
  height: 34px;
  text-align: center;
  color: #9c9287;
  border: 0;
} 
.an_productattributes-qty:focus {
  background-color: #f1f1f1
} 
.an_productattributes-qty-add .an_productattributes-add {
  margin: 0;
  height: 34px;
}
.an_productattributes-qty-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.an_productattributes-qty-add .btn-primary {
	margin: 0;
	width: 100%;
	padding: 5px;
    font-weight: 300;
    line-height: 20px;
    height: 34px;
    font-size: 14px;
}
.an_productattributes-qty-add .btn-primary.small,
.an_productattributes-qty-add .btn-primary span.small {
	padding: 3px 5px;
	line-height: normal;
	height: 34px;
}
.an_productattributes-qty-add .btn-primary span.small {
	padding: 0px 0px;
	height: 34px;
	display: block;
	text-align: center;
}
.an_productattributes-qty-add .btn-primary.small img,
.an_productattributes-qty-add .btn-primary span.small img {
	margin-right: 0;
}
#category .an_productattributes-qty-add .btn-primary.small {
	padding: 3px;
}
.an_wishlist-list-cart .an_productattributes-qty-add .btn-primary {
	font-size: 13px;
}
.an_productattributes-qty-add .btn-primary:after {
	display: none;
}
.an_productattributes-product-selectbox {
  background: #f1f1f1;
  color: #7a7a7a;
  border: 1px solid rgba(0,0,0,.25);
  padding: 0;
  position: relative;
}

.an_productattributes-product-selectbox li:hover {
  background-color: #f5f5f5;
}
.an_productattributes-product-selectbox li {
  cursor: pointer;
  font-size: 11px;
  padding: 5px 15px;
}


.an_productattributes-dropdown-toggler {
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  height: 34px;
  line-height: 24px;
  margin: 0;
  padding: 5px 25px 5px 15px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  font-weight: normal;
}
.js-an_productattributes-filter-option {
  display: flex;
  overflow: hidden;
}
.an_productattributes-dropdown-menu {
  display: none;
  bottom: 100%;
  position: absolute;
  background: #fff;
  outline: 1px solid rgba(0,0,0,.25);
  left: 0;
  width: 100%;
  z-index: 1;
  font-weight: normal;
  text-align: left;
}
.an_productattributes-dropdown-menu ul {
	margin: 0;
}
.an_productattributes-dropdown.open .an_productattributes-dropdown-menu {
  display: block;
}

.an_productattributes-dropdown .an_productattributes-dropdown-toggler:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.an_productattributes-dropdown.open .an_productattributes-dropdown-toggler:after {
  border-color: transparent transparent #000 transparent;
  top: 8px;
}