

html {
  font-size: 14px;
}
body {
  font-size: 14px;
  line-height: 26px;
  background: #ffffff;
  font-family: "Montserrat", sans-serif;;
  font-weight: 400;
}

body,
p {
  color: #000000;
}

p {
  font-size: 14px;
  line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    line-height: normal;
    font-weight: 500;
}
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

.h1,
h1 {
  font-size: 24px;
  line-height: 32px;
}
.h2,
h2 {
  font-size: 20px;
  line-height: 28px;
}
.h3,
.h4,
h3,
h4 {
  font-size: 18px;
  line-height: 24px;
}
.h5,
h5 {
  font-size: 16px;
  line-height: 24px;
}
.h6,
h6 {
  font-size: 16px;
  line-height: 24px;
}

.h1,
.h2,
.h3 {
  color: #161918;
}


a,
.text-primary
 {
  color: #e20000;
}

a:focus,
a:hover,
.btn-link:focus,
.btn-link:hover,
.page-link:focus,
.page-link:hover,
a.text-primary:focus,
a.text-primary:hover {
  color: #000000;
}

a.bg-primary:focus,
a.bg-primary:hover {
  background-color: #000000!important
}
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #000000;
}
.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    background-color: #000000;
}
.tag-primary[href]:focus,
.tag-primary[href]:hover {
    background-color: #000000
}
.quickview .modal-content{
  background: #ffffff;
}


.anthemeblocks-homeslider .owl-prev:hover i,
.anthemeblocks-homeslider .owl-next:hover i,
.banner-wr .product-banner .banner-text-bl p,
.block_newsletter form button[type=submit]:hover,
#an_brandslider-block .owl-prev:hover,
#an_brandslider-block .owl-next:hover,
.block-categories .category-sub-menu .category-sub-link:hover { 
  color: #e20000;
}
.pagination .current a,
.scroll-box-arrows i:hover {
  background: #e20000;
}
.custom-checkbox input[type=checkbox]+span .checkbox-checked,
.active_filters .filter-block {
  background-color: #000000;
}
.footer-after {
  background: #252222;
}
.product-miniature .quick-view {
  background: #e20000;
}
.form-control:focus,
.input-group.focus {
    outline: none;
}

.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default {
  background:  #e20000;
}

.custom-radio input[type=radio]:checked+span { 
  background-color: #e20000;
}

.search-widget form input[type=text]:focus {
  outline: none;
}

body#checkout section.checkout-step .address-item.selected {
  border: 3px solid #e20000;
}

.discount-percentage,
.on-sale,
.online-only,
.pack,
.product-flags .new {
  background: #e20000;
}

.products-sort-order .select-list:hover {
  background: #e20000;
}

.tabs .nav-tabs .nav-link.active {
    color: #000000;
}
.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
    
}

#product-modal .modal-content .modal-body .product-images img:hover {
  border: 3px solid #e20000;
}
li.product-flag {
  background:  #e20000;
}
.product-flags .product-flag.online-only {
  background:  #000000;
  color: #ffffff
}
.product-flags .product-flag.on-sale {
  background:  #000000;
  color: #ffffff
}
.product-flags .product-flag.new {
  background:  #e20000;
  color: #ffffff
}
.product-flags .product-flag.discount-percentage,
.product-discount .discount.discount-percentage {
  background:  #000000;
  color: #ffffff
}
#header a:hover,
.page-my-account #content .links a:hover i,
.search-widget form input[type=text]:focus+button .search,
#header .top-menu a[data-depth="0"]:hover,
.search-widget form button[type=submit] .search:hover,
#products .highlighted-informations .quick-view:hover,
.featured-products .highlighted-informations .quick-view:hover,
.product-accessories .highlighted-informations .quick-view:hover,
.product-miniature .highlighted-informations .quick-view:hover,
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover,
.block-categories .arrows .arrow-down:hover,
.block-categories .arrows .arrow-right:hover,
.cart-grid-body a.label:hover,
.product-price,
#blockcart-modal .product-name {
  color: #e20000;
}

.block_newsletter form input[type=text]:focus {
  outline: none;
}
.block_newsletter form input[type=text]:focus+button .search {
  color: #e20000;
}
.block_newsletter form button[type=submit] .search:hover {
  color: #e20000;
}
.account-list a:hover {
  color: #e20000;
}
.social-sharing li:hover {
  background-color: #e20000;
}

#header .header-nav .cart-preview.active {
  background: #e20000;
}
#header .header-nav .blockcart a:hover {
  color: #e20000;
}
@media (max-width: 767px) {
	#header .header-nav .user-info .logged {
	  color: #e20000;
	}
}
.btn-primary {
  background-color: #e20000;
  color: #ffffff;
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary:disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled:hover {
    background-color: #e20000;
}
.btn-outline-primary {
    color: #e20000;
    border-color: #e20000;
}
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle {
    background-color: #e20000;
    border-color: #e20000;
}
.btn-link {
  color: #e20000;
}
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
  background-color: #e20000;
}
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
  background-color: #e20000;
}
.card-primary {
  background-color: #e20000;
  border-color: #e20000;
}

.card-outline-primary {
  border-color: #e20000;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  background-color: #e20000;
  border-color: #e20000;
}
.tag-primary {
  background-color: #e20000;
}
.page-link {
  color: #e20000;
}
.bg-primary {
    background-color: #e20000!important
}
.text-primary {
    color: #e20000!important;
}




#products .product-title a,
.featured-products .product-title a,
.product-accessories .product-title a,
.product-miniature .product-title a,
.product-information-dropdown h5 a,
.product-desc a,
.product-name a {
  color: #161918;
  font-size: 13px;
}

.page-product h1 {
  font-size: 32px;
}

#products .product-price-and-shipping,
.featured-products .product-price-and-shipping,
.product-accessories .product-price-and-shipping,
.product-miniature .product-price-and-shipping,
.product-price-and-shipping .product-price,
.new-price,
.price{
  color: #161918;
  font-size: 20px;
}
.current-price {
  color: #161918;
}
.featured-products .regular-price,
.product-accessories .regular-price,
.product-miniature .regular-price,
span.old-price,
.regular-price {
 color: #939398;
 font-size: 14px;
}
#products .regular-price {
  color: #939398;
}
.product-discount {
 color: #939398;
}










.header-nav {
  background: #282828; 
}
.header-nav,
.header-top {
  font-size: 12px;  
}
#header {
  background: #ffffff; 
}



#_desktop_top_menu,
.anmegamenu-fullwidth,
#amegamenu.fixed-menu {
  background: #ffffff; 
}
#_desktop_top_menu,
.anmegamenu-fullwidth,
#amegamenu.fixed-menu {
  font-size: 13px;  
}

/* fixed-menu */
@media (max-width: 1920px) and (min-width: 1024px) {
  .fixed-menu {
    z-index: 9;
	background: rgba(0,0,0,0.4);
    padding-top: 0px!important;
    position: fixed !important;
    top: 0;
    left: 0;
	width: 100%;
  }
  #top-menu {
    margin-bottom: 0px !important;
	position: relative;
  }
}


.breadcrumb-wrapper{
  background-color: #f6f7f9;
}
.block_newsletter {
  background: #ffffff;
}
.footer-container {
  background: #2e2b2b;
}
.copyright-container {
  background: #1e1b1b;
}






.anthemeblocks-homeslider-desc h2 {
  color: #161918;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
}

.anthemeblocks-homeslider-desc,
.anthemeblocks-homeslider-desc p {
  color: #161918;
  font-size: 13px;
}







.ui-widget {
  font-family: inherit !important;
}