.slider_product-wrapper .owl-nav {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 100%;
}
.slider_product-wrapper .owl-next {
    right: 0;
}
.slider_product-wrapper .owl-prev {
    left: 0;
}
.slider_product-wrapper .owl-prev, .slider_product-wrapper .owl-next {
    position: absolute;
    top: calc(50% - 15px);
    z-index: 2;
    cursor: pointer;
}
.slider_product-wrapper .owl-nav{
    display: none;
}
.thumbnail-container:hover .owl-nav{
    display: block;
}
.thumbnail-container:hover .owl-nav.disabled{
    display: none;
}
