#table_hours h4 {
	text-align: center;
}
#table_hours .jour {
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
	float: left;
}
#table_hours .heure {
	text-align: center;
	padding: 5px;
}
#table_hours .nb_pizza {
	text-align: center;
	padding: 5px;
}
#table_hours .total {
	text-align: center;
	padding: 5px;
	font-weight: 700;
	color: #ef1b0a;
	font-size: 16px;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 2px solid #0c5ca5;
	border-radius: 0px;
}
#table_hours .current .heure,
#table_hours .current .nb_pizza {
	font-weight: 700;
	color: #ef1b0a;
	font-size: 16px;
	background-color: #f3f3f3;
}
#table_hours  .label {
	text-align: center;
	font-weight: 600;
	color: #0c5ca5;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #0c5ca5;
	border-radius: 0px;
}
