{extends file='page.tpl'}

{block name='page_content_container' prepend}
    <section id="content-hook_order_confirmation" class="card">
		<div class="card-block">
			<div class="row">
				<div class="col-md-12">
				
				{block name='order_confirmation_header'}
				  <h3 class="h1 card-title">
				    <span class="checkmark icon">
					    <div class="checkmark_stem"></div>
					    <div class="checkmark_kick"></div>
					</span>
				    <span class="text">{l s='Your order is confirmed' d='Shop.Theme.Checkout'}</span>
				  </h3>
				{/block}
				
				<p>
				  {l s='An email has been sent to your mail address %email%.' d='Shop.Theme.Checkout' sprintf=['%email%' => $customer.email]}
				</p>
				
				{block name='hook_order_confirmation'}
				  {$HOOK_ORDER_CONFIRMATION nofilter}
				{/block}
				
				</div>
			</div>
			<div id="sushi-container">
				<div id="moving-sushi" class="delivering">🍣</div>
			</div>
		</div>
    </section>
{/block}

{block name='page_content_container'}
  <section id="content" class="page-content page-order-confirmation card">
    <div class="card-block">
      <div class="row">

          <div class="col-md-8 col-xs-12">
	        {block name='order_confirmation_table'}
	          {include
	            file='checkout/_partials/order-confirmation-table.tpl'
	            products=$order.products
	            subtotals=$order.subtotals
	            totals=$order.totals
	            labels=$order.labels
	            add_product_link=false
	          }
	        {/block}
          </div>

        {block name='order_details'}
          <div id="order-details" class="col-md-4 col-xs-12">
            <h3 class="h3 card-title">{l s='Order details' d='Shop.Theme.Checkout'}:</h3>
            <ul>
              <li>{l s='Order reference: %reference%' d='Shop.Theme.Checkout' sprintf=['%reference%' => $order.details.reference]}</li>
              <li>{l s='Payment method: %method%' d='Shop.Theme.Checkout' sprintf=['%method%' => $order.details.payment]}</li>
              {if !$order.details.is_virtual}
                <li>
                  {l s='Shipping method: %method%' d='Shop.Theme.Checkout' sprintf=['%method%' => $order.carrier.name]}<br>
                  <em>{$order.carrier.delay}</em>
                </li>
              {/if}
            </ul>
			{include file='checkout/_partials/order-final-complements.tpl'}
          </div>
        {/block}

      </div>
    </div>
  </section>

  {block name='hook_payment_return'}
    {if ! empty($HOOK_PAYMENT_RETURN)}
    <section id="content-hook_payment_return" class="card definition-list">
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            {$HOOK_PAYMENT_RETURN nofilter}
          </div>
        </div>
      </div>
    </section>
    {/if}
  {/block}

  {block name='hook_order_confirmation_1'}
    {hook h='displayOrderConfirmation1'}
  {/block}

{/block}

{block name='page_footer'}
  {block name='my_account_links'}
    {include file='customer/_partials/my-account-links.tpl'}
  {/block}
{/block}
