#payzen_standard .data {
    padding: 5px 12px;
    font-size: 13px;
    line-height: 1.42857;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #D6D4D4;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-bottom: 12px;
}

#payzen_standard .data.invalid {
    background: none repeat scroll 0 0 #FAEBE7 !important;
    border: 1px dashed #EB340A !important;
}
